*, :after, :before {
	box-sizing: border-box;
}

body, table, th, td, button, select, input, textarea {
	font-family: Noto Sans KR, Malgun Gothic, dotum, sans-serif;
	font-weight: 300;
	color: #111;
	line-height: 1;
	letter-spacing: 0;
	word-break: keep-all;
}

body {
	-webkit-text-size-adjust: none;
}

body {
	margin: 0;
	font-family: var(- -bs-font-sans-serif);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: Noto Sans KR, Malgun Gothic, dotum, sans-serif;
	font-weight: 300;
	color: #111;
	line-height: 1;
	letter-spacing: 0;
	word-break: keep-all;
}

body, a, div {
	-webkit-tap-highlight-color: transparent !important;
}

body {
	-webkit-text-size-adjust: none;
}

:root { 
	--key-color: #ff8000; 
	--key-color-disabled: #dfe1e6; 
	--kakao-background-color: #fee500; 
	--naver-background-color: #03c75a; 
	--facebook-background-color: #1877f2; 
	--apple-background-color: #000000;
}

:root { 
	--bs-blue: #0d6efd; 
	--bs-indigo: #6610f2; 
	--bs-purple: #6f42c1; 
	--bs-pink: #d63384; 
	--bs-red: #dc3545;
	--bs-orange: #fd7e14; 
	--bs-yellow: #ffc107; 
	--bs-green: #198754; 
	--bs-teal: #20c997; 
	--bs-cyan: #0dcaf0; 
	--bs-white: #fff; 
	--bs-gray: #6c757d; 
	--bs-gray-dark: #343a40; 
	--bs-primary: #0d6efd; 
	--bs-secondary: #6c757d; 
	--bs-success: #198754; 
	--bs-info: #0dcaf0; 
	--bs-warning: #ffc107; 
	--bs-danger: #dc3545; 
	--bs-light: #f8f9fa; 
	--bs-dark: #212529; 
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji"; 
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace; 
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, .15),
		rgba(255, 255, 255, 0));
}

html {
	font-size: 10px;
}

#wrap {
	overflow: hidden;
	width: 100%;
	min-width: 28rem;
	position: relative;
	word-break: break-all;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
	fieldset, input, p, blockquote, th, td, textarea {
	margin: 0;
	padding: 0;
}

body, table, th, td, button, select, input, textarea, img, a, label, ol,
	ul, dl, li, dt, dd, div, p, pre, form, fieldset {
	-webkit-tap-highlight-color: transparent !important;
}

body, div {
	margin: 0;
	padding: 0;
}

body, a, div {
	-webkit-tap-highlight-color: transparent !important;
}

body, table, th, td, button, select, input, textarea {
	font-family: Noto Sans KR, Malgun Gothic, dotum, sans-serif;
	font-weight: 300;
	color: #111;
	line-height: 1;
	letter-spacing: 0;
	word-break: keep-all;
}

.join_wrap {
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	font-size: 1.6rem;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, nav, section, summary, address {
	display: block;
	margin: 0;
	padding: 0;
}

.join_wrap .in_wrap {
	background: #fff;
}

@media only screen and (max-width: 790px) {
	.in_wrap {
		padding: 0 2rem;
	}
}

.in_wrap {
	width: 100%;
	max-width: 79rem;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}

@media only screen and (max-width: 790px) {
	.join_wrap h1.logo {
		padding: 5rem 0 3rem;
	}
}

.join_wrap h1.logo {
	padding: 5rem 0;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400;
}

.h1, h1 {
	font-size: calc(1.375rem + 1.5vw);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

a:link, a:active, a:visited, a:hover {
	color: inherit;
	text-decoration: none;
}

a:link, a:active, a:visited, a:hover {
	color: inherit;
	text-decoration: none;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a, input[type=file], button {
	cursor: pointer;
}

.join_wrap h1.logo img {
	width: 16rem;
}

img {
	vertical-align: middle;
}

fieldset, img {
	border: 0;
}

@media only screen and (max-width: 480px) {
	.join_wrap h2.tit {
		margin: 0;
	}
}

.join_wrap h2.tit {
	margin: 3rem 0 1.4rem;
}

@media only screen and (max-width: 790px) {
	.join_wrap h2.tit {
		margin: 0 0 5rem;
		font-weight: 700;
		font-size: 2.2rem;
	}
}

.join_wrap h2.tit {
	margin: 3rem 0 5rem;
	text-align: center;
	font-weight: 700;
	font-size: 3rem;
}

.h2, h2 {
	font-size: calc(1.325rem + .9vw);
}

.join_wrap p {
	color: #888;
	text-align: center;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 19px;
	margin-bottom: 5rem;
}

@media only screen and (max-width: 480px) {
	p {
		width: 21rem;
		margin: 2rem auto 5rem;
	}
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 480px) {
	.email_auth {
		flex-direction: column;
		align-items: center;
	}
}

.email_auth {
	display: flex;
	align-items: baseline;
	gap: 15px;
}

.email_auth {
	margin: 0 auto;
	max-width: 50rem;
	box-sizing: border-box;
	padding: 0 1rem;
}

@media only screen and (max-width: 480px) {
	.email_auth .validation {
		width: 280px;
	}
}

.email_auth .validation {
	width: 100%;
}

.email_auth .form {
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 380px) {
	.email_auth .form span, .email_auth .form span input.txtbox {
		font-size: 14px;
	}
}

.email_auth .form span {
	width: 100%;
}

@media only screen and (max-width: 380px) {
	.email_auth .form span, .email_auth .form span input.txtbox {
		font-size: 14px;
	}
}

input.txtbox {
	width: 100%;
	margin: 0;
	padding: 0 0 0.8rem;
	background: transparent;
	border: 0;
	border-bottom: 0.1rem solid #d7d7d7;
	box-sizing: border-box;
	font-size: 1.6rem;
	outline: 0;
	-webkit-appearance: none;
	appearance: none;
	overflow: hidden;
}

input {
	font-size: 1em;
	vertical-align: middle;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.wb_btn.disabled {
	border: 1px solid #dfe1e6;
	background: #f7f8fa;
	cursor: unset;
	pointer-events: none;
}

@media only screen and (max-width: 480px) {
	.wb_btn[_ngcontent-rrf-c84] {
		width: 280px;
	}
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled),
	button:not(:disabled) {
	cursor: pointer;
}

.wb_btn {
	color: #dfe1e6;
	border: none;
	border-radius: 4px;
	width: 120px;
	height: 44px;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 20px;
	transition-property: color, background-color, border;
	transition-duration: .2s;
	transition-timing-function: ease-out;
}

[type=button], [type=reset], [type=submit], button {
	-webkit-appearance: button;
}

button, select {
	text-transform: none;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button {
	border-radius: 0;
}

@media only screen and (max-width: 480px) {
	.signup-certification {
		padding: 2rem 0;
	}
}

.signup-certification {
	padding: 4rem 0;
}

.login_footer {
	margin: 2rem 0;
	color: #666;
	font-size: 1.3rem;
	line-height: 1.4;
	text-align: center;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, nav, section, summary, address {
	display: block;
	margin: 0;
	padding: 0;
}

.login_footer {
	margin: 2rem 0;
	color: #666;
	font-size: 1.3rem;
	line-height: 1.4;
	text-align: center;
}
.desc {
    margin: 1rem 0 0;
    display: inline-block;
    color: #888;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.3;
}
.c_st00 {
    color: #111!important;
}
.wb_btn.outline {
    color: var(--key-color);
    border: 1px solid var(--key-color);
    background: transparent;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.wb_btn {
    color: #dfe1e6;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 44px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 20px;
    transition-property: color,background-color,border;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}
.signup-certification {
    padding: 4rem 0;
}
.email_auth .validation {
    width: 100%;
}
.email_auth .validation .auth_wrapper {
    position: relative;
}
input.txtbox {
    width: 100%;
    margin: 0;
    padding: 0 0 0.8rem;
    background: transparent;
    border: 0;
    border-bottom: 0.1rem solid #d7d7d7;
    box-sizing: border-box;
    font-size: 1.6rem;
    outline: 0;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
}
.email_auth .validation .auth_wrapper .certification_number {
    position: absolute;
    right: 0;
    top: 5px;
}
.wb_btn.disabled {
    border: 1px solid #dfe1e6;
    background: #f7f8fa;
    cursor: unset;
    pointer-events: none;
}
.join_wrap p {
    color: #888;
    text-align: center;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 5rem;
}
.wb_btn.outline {
    color: #ff8000;
    border: 1px solid #ff8000;
    background: transparent;
}