@charset "UTF-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*, :after, :before {
    box-sizing: border-box;
}
:root {
    --key-color: #ff8000;
    --key-color-disabled: #dfe1e6;
    --kakao-background-color: #fee500;
    --naver-background-color: #03c75a;
    --facebook-background-color: #1877f2;
    --apple-background-color: #000000;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
}
html {
    font-size: 10px;
}
html, body {
    height: 100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, textarea {
    margin: 0;
    padding: 0;
}
body, table, th, td, button, select, input, textarea, img, a, label, ol, ul, dl, li, dt, dd, div, p, pre, form, fieldset {
    -webkit-tap-highlight-color: transparent!important;
}
body {
    -webkit-text-size-adjust: none;
    font-size: 1rem;
}
body{
	display: block;
 	box-sizing: border-box;
 	background-color: #fff;
 	-webkit-text-size-adjust: none;
 	-webkit-tap-highlight-color: transparent!important;
 	font-family: Noto Sans KR,Malgun Gothic,dotum,sans-serif;
    font-weight: 400;
    color: #111;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
    margin: 0;
    padding: 0;
    height: 100%;
}

dl, ol, ul {
    margin-top: 0;
    /* margin-bottom: 1rem; */
}
body, table, th, td, button, select, input, textarea {
    font-family: Noto Sans KR,Malgun Gothic,dotum,sans-serif;
    font-weight: 400;
    color: #111;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
}

#wrap {
    overflow: hidden;
    width: 100%;
    min-width: 28rem;
    position: relative;
    word-break: break-all;
}
.bandBanner {
    text-align: center;
    background: #111111;
    position: fixed;
    width: 100%;
    z-index: 50;
    height: 40px;
}
.bandBanner .inner {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 1.4rem;
    font-weight: 500;
    width: -moz-fit-content;
    width: fit-content;
}
.bandBanner .inner .text {
    color: #fff;
}

.bandBanner .inner .text .link {
    display: flex;
    justify-content: center;
    align-items: center;
}
a:link, a:active, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}
a, input[type=file], button {
    cursor: pointer;
}
.bandBanner .inner .text .link .point {
    color: #fee000;
}
.bandBanner .inner .text .link .arrow {
    margin-left: 5px;
    width: 7px;
    height: 12px;
    background: url(/assets/images/svg/arrow_right_topBanner.svg);
}
/*
app-top-search 부분 부터 시작 그 위 header 부분은 은상님이 도와주기로 함.
*/

#header.mainHeader {
    position: fixed;
    top: 40px;
}

#header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 5;
    box-sizing: border-box;
    box-shadow: 0 0.1rem 0.3rem #0000001a;
    z-index: 50;
    transition: all .3s;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, address {
    display: block;
    margin: 0;
    padding: 0;
}
.in_wrap {
    width: 100%;
    max-width: 79rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

#header .logo {
    position: absolute;
    left: 0;
    top: 1.5rem;
    z-index: 1;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

a:link, a:active, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}

#header .logo a span {
    width: 11.5rem;
    height: 3.9rem;
    display: inline-block;
    overflow: hidden;
    background: url('https://www.wishbeen.co.kr/logo.86dd47c5979413f8.svg') 0 0 no-repeat;
    background-size: cover;
    font-size: 0;
    color: transparent;
}

#header .gnb_wrap {
    width: 100%;
    position: relative;
    text-align: center;
}
#header .gnb_wrap ul {
    display: inline-block;
}
ol, ul {
    list-style: none;
}
#header .gnb_wrap li {
    display: inline-block;
    position: relative;
}

#header .gnb_wrap a {
    padding: 0 1.2rem;
    display: block;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 7rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}
#header .gnb_wrap ul {
    display: inline-block;
}

#header .side_wrap {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#header .btn_sch {
    margin: -0.5rem 0.6rem 0 0;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;
    vertical-align: middle;
}
/*=====================================애매 모호 ============================== */
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}	
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}

#header .btn_sch:after {
    content: "";
    width: 4rem;
    height: 4rem;
    margin: -1em 0 0 -1rem;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    background-color: #0000000d;
    z-index: -1;
    opacity: 0;
    transition: all .3s;
}
#header .btn_sch span {
    width: 2.2rem;
    height: 2.2rem;
    display: inline-block;
    overflow: hidden;
    background-position: 0 0;
    background-image: url(search.7d764a6d4813045c.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    color: transparent;
}
#header .gnb_wrap .btn_login, #header .gnb_wrap .btn_my {
    padding: 0.6rem 1rem;
    margin-left: 1rem;
    display: inline-block;
    border: 0.1rem solid rgba(0,0,0,.2);
    border-radius: 3rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
}
#header .gnb_wrap .btn_login span, #header .gnb_wrap .btn_my span {
    width: 1.3rem;
    height: 1.3rem;
    margin: -0.5rem 0.5rem 0 0;
    display: inline-block;
    overflow: hidden;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    color: transparent;
    vertical-align: middle;
}


#header .gnb_wrap .btn_login span, #header .gnb_wrap .btn_my span {
    width: 1.3rem;
    height: 1.3rem;
    margin: -0.5rem 0.5rem 0 0;
    display: inline-block;
    overflow: hidden;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    color: transparent;
    vertical-align: middle;
}
#header .btn_login span {
    background-image: url('https://www.wishbeen.co.kr/person1.795361a55289ba9e.svg');
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.dim {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.5);
    z-index: 500;
}

.top_sch_wrap.withTopBanner {
    top: 11rem!important;
}

.top_sch_wrap {
    width: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 7rem;
    z-index: 100;
}

.top_sch_area {
    display: block;
    position: relative;
}
.top_sch_wrap .sch_area {
    background-color: #ff6800;
    z-index: 50;
}
.top_sch_wrap .sch_area .in_wrap {
    padding: 5rem 0 7rem;
    text-align: center;
    z-index: 50;
}
.in_wrap {
    width: 100%;
    max-width: 79rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.top_sch_wrap .sch_area .sch_form {
    max-width: 56rem;
    margin: 0 auto;
    position: relative;
    border-bottom: 0.2rem solid #fff;
}
.top_sch_wrap .sch_area .sch_form input {
    width: 100%;
    padding: 0 8rem 1.5rem 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 2rem;
}
input {
    font-size: 1em;
    vertical-align: middle;
    /*-webkit-border-radius: 0;*/
    -webkit-appearance: none;
}

.top_sch_wrap .sch_area .sch_form .btn_del {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    right: 4rem;
    bottom: 2rem;
    background-color: transparent;
    border: 0;
    font-size: 0;
    line-height: 0;
    opacity: .7;
}
.top_sch_wrap .sch_area .sch_form .btn_del:before {
    content: "";
    width: 2.2rem;
    height: 0.2rem;
    margin: 0 0 -0.2rem;
    display: block;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.top_sch_wrap .sch_area .sch_form .btn_del:after {
    content: "";
    width: 2.2rem;
    height: 0.2rem;
    margin: 0 0 -0.5rem;
    display: block;
    background-color: #fff;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.top_sch_wrap .sch_area .sch_form .btn_sch {
    width: 2.8rem;
    height: 2.8rem;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    right: 0;
    bottom: 1.5rem;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
.top_sch_wrap .sch_area .sch_form .btn_sch:before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(search_w.f903869ccc8230b3.svg) 0 0 no-repeat;
    background-size: cover;
}
.top_sch_wrap .sch_area .sch_recent {
    padding: 2rem 0 0;
}
.top_sch_wrap .sch_area .sch_recent li {
    margin: 0 1.5rem 1.5rem 0;
    padding-right: 2rem;
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 1.7rem;
}
.top_sch_wrap .sch_area .btn_all_del {
    padding: 1rem;
    position: absolute;
    right: 0;
    bottom: 1.5rem;
    background-color: transparent;
    border: 0.1rem solid rgba(255,255,255,.5);
    color: #fff;
    font-size: 1.5rem;
}
.top_sch_wrap .btn_sch_close {
    width: 3.2rem;
    height: 3.2rem;
    padding: 0;
    border: 0;
    position: absolute;
    right: 0;
    top: 3rem;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
}
button {
    border-radius: 0;
}
.top_sch_wrap .btn_sch_close:before {
    content: "";
    width: 3.2rem;
    height: 0.2rem;
    margin: 0 0 -0.2rem;
    display: block;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.top_sch_wrap .btn_sch_close:after {
    content: "";
    width: 3.2rem;
    height: 0.2rem;
    margin: 0 0 -0.3rem;
    display: block;
    background-color: #fff;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.top_sch_wrap .btn_sch_close {
    width: 3.2rem;
    height: 3.2rem;
    padding: 0;
    border: 0;
    position: absolute;
    right: 0;
    top: 3rem;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
}
.top_sch_wrap .post_area {
    background-color: #fff;
}
.top_sch_wrap .post_area .in_wrap {
    display: flex;
    padding: 4rem 0;
    justify-content: space-between;
}
/* chrome 에서 오류 표시 했음 */
.clear_v2 {
    *zoom: 1;
}
.clear_v2:after {
    content: "";
    display: block;
    clear: both;
}
.top_sch_wrap .post_area dl {
    width: 48%;
    box-sizing: border-box;
}
.top_sch_wrap .post_area dt {
    margin: 0 0 3rem;
    font-weight: 400;
    font-size: 1.8rem;
}
dt {
    font-weight: 400;
}
dt {
    font-weight: 400;
}
dl, ol, ul {
    margin-top: 0;
    /* margin-bottom: 1rem; */
}

.top_sch_wrap .post_area ul li {
    margin: 0 1rem 1.5rem 0;
    display: inline-block;
}

.tag {
    padding: 0.8rem 1rem;
    display: inline-block;
    background: #f7f9ff;
    border-radius: 3rem;
    box-sizing: border-box;
    color: #242424;
    font-size: 1.4rem;
    line-height: 1;
    text-align: center;
}

.top_sch_wrap .post_area dl {
    width: 48%;
    box-sizing: border-box;
}

.top_sch_wrap .post_area dt {
    margin: 0 0 3rem;
    font-weight: 400;
    font-size: 1.8rem;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}
.top_sch_wrap .post_area ul li {
    margin: 0 1rem 1.5rem 0;
    display: inline-block;
}

/* 이것도 마찬가지로 chrome 에서는 문제가 안되지만 eclipse에서는 문제가 생겼다.
@media only screen and (min-width: 900px)
.city_sch_wrap {
    width: 49rem;
    left: auto;
}
*/
.city_sch_wrap {
    width: 100%;
    position: fixed;
    inset: 0;
    background-color: #fff;
    box-sizing: border-box;
    transform: translate(100%);
    transition: all ease .3s;
    z-index: 501;
}

.city_sch_header {
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 1;
}
.city_sch_header .tit {
    font-weight: 400;
    font-size: 1.8rem;
}


.city_sch_header .btn_close {
    width: 3.6rem;
    height: 3.6rem;
    border: 0;
    outline: 0;
    background-color: transparent;
}
.city_sch_header .btn_close img {
    width: 2.2rem;
}

img {
    vertical-align: middle;
}

fieldset, img {
    border: 0;
}
.city_sch_wrap .sch_form {
    padding: 2rem 2.5rem;
    position: relative;
}
.city_sch_wrap .sch_form input {
    width: 100%;
    padding: 0 0 1rem;
    font-size: 1.6rem;
    border: 0;
    outline: 0;
    border-bottom: 0.1rem solid #666;
}	

mat-autocomplete {
    display: none;
}

.city_sch_wrap .city_list_wrap {
    width: 100%;
    position: absolute;
    left: 0;
    top: 14rem;
    right: 0;
    bottom: 5.6rem;
}

/* chorme 에서는 잘 나오지만 eclipse에서는 문제가 생김 아마도 .가 문제인걸로 보임
@media only screen and (min-width: 900px)
.city_sch_wrap .continent {
    width: 16rem;
}
*/
.city_sch_wrap .continent {
    width: 30%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fafafa;
    overflow-y: auto;
    box-sizing: border-box;
    border-right: 0.1rem solid #e7e7e7;
}

.city_sch_wrap .continent li a.active {
    background-color: #f3f3f3;
    color: #111;
    font-weight: 400;
}
.city_sch_wrap .continent li a {
    padding: 1.2rem 2.5rem;
    display: block;
    background-color: #fff;
    border-bottom: 0.1rem solid #e7e7e7;
    box-sizing: border-box;
    color: #888;
    font-size: 1.6rem;
    line-height: 1.3;
}
/* 오류 나는 부분 참고
@media only screen and (min-width: 900px)
.city_sch_wrap .list_city {
    width: 33rem;
    padding: 0 2rem;
}*/

.city_sch_wrap .list_city {
    width: 70%;
    padding: 0 3rem;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}
.city_sch_wrap .list_city dl {
    border-bottom: 0.1rem solid #d7d7d7;
    box-sizing: border-box;
}

.city_sch_wrap .list_city dt {
    padding: 2rem 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #333;
    font-size: 1.6rem;
    cursor: pointer;
}

dt {
    font-weight: 400;
}
.city_sch_wrap .list_city dt img {
    transform: rotate(0);
    transition: all .3s;
}

.city_sch_wrap .city_open_wrap {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: #f2f3f4;
}
.city_sch_wrap .city_open {
    padding: 2rem;
    position: relative;
    background-color: #242424;
    color: #fff9;
    font-size: 1.4rem;
    text-align: center;
}


.city_sch_wrap .city_open button {
    margin: 0 0 0 0.6rem;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #fff;
    font-size: 1.6rem;
}
.city_sch_wrap .city_open .btn_close {
    margin-top: -0.2rem;
    position: absolute;
    right: 2rem;
}
.hide {
    position: absolute!important;
    top: -9999px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}


.city_sch_wrap .city_open .btn_close img {
    width: 2rem;
}

.city_sch_wrap .city_open_form {
    padding: 2rem;
    display: none;
    position: relative;
    border-top: 0.1rem solid #e7e7e7;
}
.city_sch_wrap .city_open_form input {
    width: 100%;
    padding: 1rem 9rem 1rem 1rem;
    box-sizing: border-box;
    border: 0.1rem solid #d7d7d7;
    color: #353535;
    font-size: 1.6rem;
}
input[type="text" i] {
    padding: 1px 2px;
}

.city_sch_wrap .city_open_form button {
    width: 8rem;
    height: 4.4rem;
    position: absolute;
    right: 1.5rem;
    border: 0;
    background-color: #242424;
    color: #fff;
    font-size: 1.5rem;
}
button, select {
    text-transform: none;
}

.city_sch_wrap .city_open_form p {
    padding: 1rem 0 0;
    color: #666;
    font-size: 1.4rem;
    line-height: 1.4;
}

/* chrome에서는 되지만 -> ecilpse에서는 안되는 심각한 문제
@media only screen and (min-width: 900px)
.city_sch_wrap2 {
    width: 49rem;
    left: auto;
}
*/

.city_sch_wrap2 {
    width: 100%;
    position: fixed;
    inset: 0;
    background-color: #fff;
    box-sizing: border-box;
    transform: translate(100%);
    transition: all ease .3s;
    z-index: 501;
}


.city_sch_header {
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 1;
}


.city_sch_header .tit {
    font-weight: 400;
    font-size: 1.8rem;
}

.city_sch_header .btn_close {
    width: 3.6rem;
    height: 3.6rem;
    border: 0;
    outline: 0;
    background-color: transparent;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}


.city_sch_header .btn_close img {
    width: 2.2rem;
}
.city_sch_wrap2 .city_list_wrap {
    width: 100%;
    position: absolute;
    left: 0;
    top: 14rem;
    right: 0;
    bottom: 5.6rem;
}

/* chrome 에서는 문제가 안되지만 eclipse에서는 문제가 된다.
@media only screen and (min-width: 900px)
.city_sch_wrap2 .continent {
    width: 16rem
rem
;
}
*/


.city_sch_wrap2 .continent {
    width: 30%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fafafa;
    overflow-y: auto;
    box-sizing: border-box;
    border-right: 0.1rem solid #e7e7e7;
}


.city_sch_wrap2 .continent li a {
    padding: 1.2rem 2.5rem;
    display: block;
    background-color: #fff;
    border-bottom: 0.1rem solid #e7e7e7;
    box-sizing: border-box;
    color: #888;
    font-size: 1.6rem;
    line-height: 1.3;
}



/* chrome 에서는 되지만 eclipse에서는 안되는 것.
@media only screen and (min-width: 900px)
.city_sch_wrap2 .list_city {
    width: 33rem;
    padding: 0 2rem;
}

*/
.city_sch_wrap2 .list_city {
    width: 70%;
    padding: 0 3rem;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}

.city_sch_wrap2 .list_city dl {
    border-bottom: 0.1rem solid #d7d7d7;
    box-sizing: border-box;
}

.city_sch_wrap2 .list_city dt {
    padding: 2rem 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #333;
    font-size: 1.6rem;
    cursor: pointer;
}
.city_sch_wrap2 .list_city dt img {
    transform: rotate(0);
    transition: all .3s;
}

.city_sch_wrap2 .city_open_wrap {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: #f2f3f4;
}

.city_sch_wrap2 .city_open {
    padding: 2rem;
    background-color: #242424;
    color: #fff9;
    font-size: 1.4rem;
    text-align: center;
}

.city_sch_wrap2 .city_open button {
    margin: 0 0 0 0.6rem;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #fff;
    font-size: 1.6rem;
}

.city_sch_wrap2 .city_open .btn_close {
    margin-top: -0.2rem;
    position: absolute;
    right: 2rem;
}
.city_sch_wrap2 .city_open .btn_close img {
    width: 2rem;
}
.city_sch_wrap2 .city_open_form {
    padding: 2rem;
    display: none;
    position: relative;
    border-top: 0.1rem solid #e7e7e7;
}
.city_sch_wrap2 .city_open_form input {
    width: 100%;
    padding: 1rem 9rem 1rem 1rem;
    box-sizing: border-box;
    border: 0.1rem solid #d7d7d7;
    color: #353535;
    font-size: 1.6rem;
}

.city_sch_wrap2 .city_open_form button {
    width: 8rem;
    height: 4.4rem;
    position: absolute;
    right: 1.5rem;
    border: 0;
    background-color: #242424;
    color: #fff;
    font-size: 1.5rem;
}
.city_sch_wrap2 .city_open_form p {
    padding: 1rem 0 0;
    color: #666;
    font-size: 1.4rem;
    line-height: 1.4;
}

.btm_menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-top: 0.1rem solid #d7d7d7;
    z-index: 50;
}



.mo {
    display: none!important;
}
.btm_menu ul {
    display: flex;
}

.btm_menu ul li {
    flex: 1;
    position: relative;
    text-align: center;
}
/*=================================================================================================
		포토 주소 svg 로 바꾸어서 가야함
*/
.btm_menu .tab1 {
    background-image: url(sch_city.402457607cadfd75.svg);
}
.btm_menu ul li a {
    height: 6rem;
    padding: 4rem 0 0;
    display: block;
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: 2.2rem;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.2;
    opacity: .7;
}
.btm_menu .tab2 {
    background-image: url(cmt.4dea4e656d8304f5.svg);
    background-size: 2.6rem;
}

.btm_menu .tab3 {
    width: 5.6rem;
    height: 5.6rem;
    background: #242424;
    border-radius: 100%;
    position: absolute;
    top: -1rem;
    left: 50%;
    box-shadow: 0 1rem 1rem #0003;
    transform: translate(-50%);
    font-size: 0;
    opacity: 1;
}

.btm_menu .tab3:before {
    content: "";
    width: 0.2rem;
    height: 2.4rem;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    transform: translate(-50%,-50%);
}

.btm_menu .tab3:after {
    content: "";
    width: 0.2rem;
    height: 2.4rem;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    transform: translate(-50%,-50%) rotate(90deg);
}



.btm_menu .tab4 {
    background-image: url(youtube1.67d94573ec3179ff.svg);
    background-size: 2.4rem;
}


.btm_menu .tab5 {
    background-image: url(person2.eb0987fafe2bc7ff.svg);
    background-size: 2.4rem;
}

/*=================================================================================================
		포토 주소 svg 로 바꾸어서 가야함 여기까지
*/
.btm_pop_menu {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 1rem 1rem 0 0;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(100%);
    transition: all .3s;
}
.btm_pop_menu ul {
    padding: 2rem 1rem;
    position: relative;
    background: #fff;
    border-radius: 1rem 1rem 0 0;
    z-index: 1;
}

.btm_pop_menu .tit {
    padding: 0 0 2rem;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.btm_pop_menu a {
    padding: 0.8rem 1.5rem;
    display: block;
    position: relative;
    font-size: 1.8rem;
    z-index: 1;
}

#content {
    padding: 0;
    font-family: Pretendard;
}

.m_visual {
    padding: 13rem 0 0;
    position: relative;
    box-sizing: border-box;
}

.m_visual .txt {
    width: 100%;
    margin: 0 auto 7rem;
    position: relative;
    line-height: 1.3;
    letter-spacing: -.1rem;
    text-align: center;
}

.m_visual .txt .st1 {
    font-weight: 700;
    font-size: 2.6rem;
}

.d_block {
    display: block!important;
}

.m_visual .txt .st2 {
    margin: 0.8rem 0 0;
    font-weight: 400;
    font-size: 6.2rem;
    letter-spacing: .2rem;
}

.m_visual .txt .st2 span {
    display: inline-block;
    position: relative;
    font-weight: 700;
    z-index: 1;
}
.m_visual .txt .st2 span:after {
    content: "";
    height: 1rem;
    position: absolute;
    left: -0.2rem;
    right: -0.2rem;
    bottom: 0.4rem;
    background: #ffac81;
    z-index: -1;
}
.m_visual .txt .st2 span:after {
    content: "";
    height: 1rem;
    position: absolute;
    left: -0.2rem;
    right: -0.2rem;
    bottom: 0.4rem;
    background: #ffac81;
    z-index: -1;
}
.m_visual .sch {
    position: relative;
}
.m_visual .sch input {
    width: 100%;
    padding: 2rem 0 2rem 3.5rem;
    border-radius: 5rem;
    border: 0.1rem solid #666;
    box-sizing: border-box;
    font-size: 1.8rem;
    box-shadow: 0.1rem 0.1rem 0.8rem #00000026;
}
.m_visual .sch button {
    width: 9.4rem;
    height: 5rem;
    margin-left: -10.6rem;
    position: absolute;
    top: 50%;
    background: #242424;
    border: 0;
    border-radius: 8rem;
    outline: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.8rem;
}

.m_visual .sch button img {
    width: 2rem;
    margin-right: 0.8rem;
}

.hot_wrap {
    padding: 8rem 0 4rem;
}


.hot_wrap .in_wrap {
    display: flex;
    max-width: 98rem;
    box-sizing: border-box;
    padding: 0 1.8rem;
}
.hot_wrap h2 {
    margin: 0 0 1rem;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4.1rem;
}
.hot_wrap .city a {
    padding: 1.5rem 1.5rem 1.5rem 3rem;
}
.hot_wrap p a {
    padding: 1.5rem;
    margin: 1.5rem 1rem 0 0;
    display: inline-block;
    position: relative;
    background: #fff;
    border: 0.1rem solid rgba(0,0,0,.1);
    box-sizing: border-box;
    border-radius: 2rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #0000001a;
    font-weight: 400;
    font-size: 1.6rem;
}
.hot_wrap .city a:before {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 1rem;
    top: 51%;
    background: url(https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg) center no-repeat;
    transform: translateY(-50%);
}
.section01 .inner {
    max-width: 98rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 4rem 0.8rem;
}

.section01 .title{
    font-weight: 700;
    font-size: 2.8rem;
    padding: 0 1rem 1.5rem;
    line-height: 4.1rem;
    letter-spacing: -.035em;
}

.section01 .box {
    display: flex;
}
.section01 .mainThumb {
    margin: 0 1rem;
    width: 50%;
    position: relative;
}
.section01 .mainThumb .thumb {
    position: relative;
    overflow: hidden;
    border-radius: 3rem;
    padding-top: 112.554%;
    height: 0;
    display: block;
}
.section01 .mainThumb .thumb img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: url(https://www.wishbeen.co.kr/main_spot_pc.df132e7591bae7d8.png);
    width: 100%;
    height: 100%;
}

.section01 .mainThumb .detail {
    position: absolute;
    left: 8.658%;
    top: 7.6923%;
    z-index: 3;
}

.badge .main-location {
    background-color: #ffffffb3;
    background-image: url(main_location.be0c6fc8c7988825.svg);
    color: #164f15;
    margin-bottom: 1.5rem;
}
/* .badge와 아래 css 코드가 다르다 */
.badge[_ngcontent-tmr-c79] {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.5rem;
    border-radius: 2.4rem;
    margin-bottom: 0.8rem;
    padding: 0 1rem 0 2.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-position: 1rem 0.75rem;
    background-size: auto 1rem;
    background-repeat: no-repeat;
}

.badge {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.5rem;
    border-radius: 2.4rem;	
    margin-bottom: 0.8rem;
    padding: 0 1rem 0 2.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-position: 1rem 0.75rem;
    background-size: auto 1rem;
    background-repeat: no-repeat;
}
.section01 .mainThumb .detail .subject {
    display: block;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.6rem;
    margin-bottom: 1rem;
    color: #fff;
}
b, strong {
    font-weight: 400;
}

b, strong {
    font-weight: bolder;
}

.section01 .mainThumb .detail .txt {
    display: block;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #fff;
}
.section01 .mainThumb .arrow {
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 3;
}
.section01 .mainList {
    margin: 0 1rem;
    width: 50%;
    position: relative;
}
.section01 .mainList li:first-child {
    margin-top: 0;
}

.section01 .mainList li {
    margin-top: 20px;
}
.section01 .mainList li a {
    display: block;
    position: relative;
    background-color: #fff;
    height: 0;
    padding-top: 34.632%;
    box-shadow: 0 0 18px #00000014;
    border-radius: 30px;
    overflow: hidden;
}

.section01 .mainList li a .thumb {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    display: block;
    width: 160px;
}

.section01 .mainList li a .thumb {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    display: block;
    width: 160px;
}

.section01 .mainList li a .detail {
    position: absolute;
    left: 160px;
    padding: 20px;
    width: calc(100% - 160px);
    top: 0;
    box-sizing: border-box;
    letter-spacing: -.08em;
}

.badge.location {
    background-color: #fff3e8;
    background-image: url(https://www.wishbeen.co.kr/ico_location_02.4df7c45b3bbede62.png);
    color: #ff8000;
}

.section01 .mainList li a .detail .subject {
    display: block;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 0.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
}

.section01 .mainList li a .detail .txt {
    display: block;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #999;
}

.section01 .mainList li a .detail .writer {
    display: block;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
}

.section01 .mainList li {
    margin-top: 20px;
}

.section01 .mainList li a {
    display: block;
    position: relative;
    background-color: #fff;
    height: 0;
    padding-top: 34.632%;
    box-shadow: 0 0 18px #00000014;
    border-radius: 30px;
    overflow: hidden;
}

.section01 .mainList li a .thumb {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    display: block;
    width: 160px;
}

.section01 .mainList li a .thumb img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.badge.location {
    background-color: #fff3e8;
    background-image: url(https://www.wishbeen.co.kr/ico_location_02.4df7c45b3bbede62.png);
    color: #ff8000;
}


.mainBanner {
    max-width: 98rem;
    margin: 0 auto 4rem;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.mainBanner .slick-prev {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(https://www.wishbeen.co.kr/btn_left_01.ad908de13b95a218.png) 0 0 / 30px 30px no-repeat;
    overflow: hidden;
    left: 165px;
    top: 50%;
    border: 0;
    text-indent: -9999px;
    z-index: 9;
    margin-top: -15px;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    transform: translate(0);
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: "";
}

.slick-track:after {
    clear: both;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: "";
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.mainBanner .pc {
    display: block!important;
}

.slick-slide img {
    display: block;
}

.mainBanner img {
    margin: 0 -2.5rem;
    height: 18rem;
    border-radius: 3rem;
    width: 62.2rem;
    box-shadow: 0 0 18px #00000014;
    opacity: .3;
    transition: all .3s ease;
    transform: scale(.8);
}

.mainBanner .m {
    display: none!important;
}

.mainBanner .slick-center {
    position: relative;
    z-index: 10;
}

.mainBanner .slick-center img {
    -moz-transform: scale(1)!important;
    -ms-transform: scale(1)!important;
    -o-transform: scale(1)!important;
    -webkit-transform: scale(1)!important;
    opacity: 1!important;
    transform: scale(1)!important;
}
.mainBanner .slick-next {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(https://www.wishbeen.co.kr/btn_right_01.0d118f672f48641a.png) 0 0 / 30px 30px no-repeat;
    overflow: hidden;
    border: 0;
    right: 165px;
    top: 50%;
    text-indent: -9999px;
    z-index: 9;
    margin-top: -15px;
}

.section02 {
    margin-bottom: 8rem;
    max-width: 98rem;
    margin: 0 auto;
    position: relative;
}


.section02 .title {
    font-weight: 700;
    font-size: 2.8rem;
    padding: 0 1rem 1.5rem;
    line-height: 4.1rem;
    letter-spacing: -.035em;
}

.section02 .thumbList ul {
    padding: 0 0.8rem 8rem;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.section02 .thumbList ul li {
    width: 25%;
    box-sizing: border-box;
    padding: 0 1rem 2rem;
    position: relative;
}

.section02 .thumbList ul li a {
    display: block;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1.8rem #00000014;
    border-radius: 3rem;
    overflow: hidden;
}

.section02 .thumbList ul li a .thumb {
    overflow: hidden;
    display: block;
    position: relative;
    padding-top: 72.3981%;
    height: 0;
    width: 100%;
}

.section02 .thumbList ul li a .thumb img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section02 .thumbList ul li a .detail {
    position: relative;
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: -.08em;
}

.section02 .thumbList ul li a .detail .subject {
    display: block;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 0.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
}

.section02 .thumbList ul li a .detail .txt {
    display: block;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-bottom: 1.6rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #999;
}

.section02 .thumbList ul li a .detail .writer {
    display: block;
    font-weight: 400;
    font-size: 1.3rem;
    position: relative;
    line-height: 2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
}


.section02 .title {
    font-weight: 700;
    font-size: 2.8rem;
    padding: 0 1rem 1.5rem;
    line-height: 4.1rem;
    letter-spacing: -.035em;
}

.section02 .thumbList ul {
    padding: 0 0.8rem 8rem;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#content {
    padding: 7rem 0 0;
    background: #fff;
}

#footer {
    width: 100%;
    padding: 5rem 0;
    background-color: #242424;
    box-sizing: border-box;
}

.in_wrap {
    width: 100%;
    max-width: 79rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

#footer .btn_top_scroll.active {
    opacity: 1;
    transform: translate(0);
}

#footer .btn_top_scroll {
    width: 4rem;
    height: 4rem;
    display: block;
    position: fixed;
    right: 5rem;
    bottom: 10rem;
    overflow: hidden;
    border-radius: 100%;
    background-color: #fff;
    box-sizing: border-box;
    transition: all .3s;
    cursor: pointer;
    opacity: 0;
    transform: translate(1rem);
    line-height: 4.4rem;
    z-index: 50;
    box-shadow: 0.4rem 0.4rem 0.8rem #0000001f;
}



#footer .btn_top_scroll:before {
    content: "";
    width: 1.8rem;
    height: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(chevron_up.3db1f7ee401e3d2d.svg) 0 0 no-repeat;
    background-size: 100%;
    transform: translate(-50%,-50%);
}



#footer .list_link {
    margin: 0 0 2rem;
}

#footer .list_link dt {
    padding: 0 5rem 2rem 0;
    display: inline-block;
    position: relative;
    color: #ffffffb3;
    font-weight: 500;
    font-size: 1.4rem;
}

#footer .list_link dd {
    display: inline-block;
}

#footer .list_link a {
    padding: 0 1.5rem;
    display: inline-block;
    position: relative;
    color: #ffffff80;
    font-weight: 400;
    font-size: 1.4rem;
}

#footer .list_link a+a {
    border-left: 0.1rem solid rgba(255,255,255,.1);
}

#footer .info {
    margin: 2rem 0 0;
    color: #fff6;
    font-size: 1.3rem;
    line-height: 1.6;
    font-weight: 200;
}
#footer .info .inner span:after {
    content: "";
    width: 1.5rem;
    margin-right: 1rem;
    height: 1.2rem;
    position: relative;
    display: inline-block;
    border-right: 0.1rem solid rgba(255,255,255,.2);
}

#footer .info span.br:after {
    content: "";
    display: block;
    height: 0;
    border: none;
}

#footer .info span.noti:before {
    content: "";
    display: block;
    height: 1.5rem;
    border: none;
}

#footer .mark_area {
    margin: 2rem 0 0;
}
#footer .mark_area span {
    margin: 1rem 1rem 0 0;
    padding: 1rem;
    display: inline-block;
    border: 0.1rem solid rgba(255,255,255,.3);
}

#footer .mark_area span img {
    height: 4rem;
    margin-right: 1rem;
    max-width: 100%;
    vertical-align: middle;
}

em, address {
    font-style: normal;
}

#footer .info .copy {
    display: block;
    margin-top: 2rem;
}

.my_menu_wrap {
    width: 100%;
    position: fixed;
    inset: 0;
    transform: translate(100%);
    transition: all ease .3s;
    overflow: hidden;
    z-index: 501;
    background: #fff;
}

/* chrome 에서는 되지만 eclipse 에서는 안되는 요류
@media only screen and (min-width: 900px)
.my_menu_wrap {
    width: 48rem;
    left: auto;
}
*/


/* chrome 에서는 되지만 eclipse 에서는 안되는 오류
@media only screen and (min-width: 900px)
.my_menu_header {
    padding: 9rem 3rem 2.5rem;
}*/

.my_menu_header {
    width: 100%;
    padding: 7rem 2rem 2.5rem;
    position: relative;
    background: url(wb_symbol1.d7e9ff4af2e87060.svg) right -10rem top -22rem no-repeat;
    background-size: 41rem auto;
    box-sizing: border-box;
    z-index: 1;
}

.my_menu_header .btn_close {
    width: 3.6rem;
    height: 3.6rem
rem
;
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: 0;
    outline: 0;
    background-color: transparent;
}
.my_menu_header .btn_close img {
    width: 2.4rem;
}

.my_menu_header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

/* chrome 에서는 되지만 eclipse 에서는 안되는 오류
@media only screen and (min-width: 900px)
.my_menu_header .img {
    width: 72px;
    height: 72px;
}
*/
.my_menu_header .img {
    width: 64px;
    height: 64px;
    margin-top: 0;
    display: inline-block;
    border-radius: 100%;
    overflow: overlay;
}
.img img, .map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my_menu_header .user_info {
    position: relative;
    box-sizing: border-box;
    line-height: 1.2;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 70px);
}
.my_menu_header .user_info .name {
    display: inline-block;
    font-weight: 400;
    font-size: 2.4rem;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.my_menu_header .btn_logout {
    width: 9rem;
    height: 4.2rem;
    border: 0;
    border-radius: 6rem;
    outline: 0;
    background-color: #242424;
    color: #fff;
    font-size: 1.4rem;
}


/* chrome 에서는 되지만 eclipse 에서는 안되는 오류
@media only screen and (min-width: 900px)
.my_menu_wrap .list_wrap {
    padding: 0 4rem 4rem;
}
*/

.my_menu_wrap .list_wrap {
    width: 100%;
    padding: 0 3rem 4rem;
    position: absolute;
    top: 17rem;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    box-sizing: border-box;
}

hr:not([size]) {
    height: 1px;
}
hr {
    width: auto;
    border: 1px solid #E0E0E0;
    visibility: visible;
    margin: 16px 0;
}

.check[_ngcontent-tmr-c68] {
    display: flex;
}


.check img {
    margin-right: 12px;
}
.my_menu_wrap .list li a {
    display: block;
}


.my_menu_wrap .list a {
    font-size: 1.6rem;
}

.my_menu_wrap .list li+li {
    margin-top: 2.4rem;
}
.section03 {
    padding: 0 1.8rem 10rem;
    max-width: 98rem;
    margin: 0 auto;
    box-sizing: border-box;
}


@media (hover: hover){
.hot_wrap .city a:hover:before {
    background-image: url(https://www.wishbeen.co.kr/geo_o.f7376f19d3864de0.svg);
    transition: all .3s;
	}
}
@media (hover: hover){
#header .gnb_wrap .btn_login:hover span, #header .gnb_wrap .btn_my:hover span {
    border: none;
	}
}
@media (hover: hover){
#header .gnb_wrap a:hover span {
    border-bottom: 0.1rem solid #ff5800;
    color: #ff5800;
	}
}
@media (hover: hover){
#header .gnb_wrap .btn_login:hover, #header .gnb_wrap .btn_my:hover {
    background: #fafafa;
    color: #111;
	}
}

.section03 .inner img {
    width: 100%;
    height: auto;
}

.section03 .inner .android {
    position: absolute;
    left: 25%;
    top: 58.125%;
    width: 14.9364%;
    height: 26.25%;
    overflow: hidden;
    text-indent: -999px;
}
.section03 .inner .apple {
    position: absolute;
    left: 8.47457%;
    top: 58.125%;
    width: 14.9364%;
    height: 26.25%;
    overflow: hidden;
    text-indent: -999px;
}