<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<insert id="insert">
		insert into tbl_user
		(identification, password, name,
		email, phone_number, nickname, birthday, gender, introducing_message,
		profil_image_name,profil_image_original_name, profil_image_size)
		values(#{identification},#{password},#{name},#{email},#{phoneNumber},#{nickname},#{birthday},#{gender},#{introducingMessage},#{profilImageName},#{profilImageOriginalName},#{profilImageSize})
	</insert>
	
	<!-- 아이디 패스워드로 조회하고 userVO에 담아 리턴 -->
	<select id="login" resultType="userVO">
		select id, identification,
		password, name, email, phone_number, nickname, birthday, gender,
		introducing_message, status, created_date, updated_date, `role`,
		profil_image_name, profil_image_original_name, profil_image_size from
		tbl_user
		where identification = #{userIdentification} and password =
		#{userPassword}
	</select>

	<select id="selectOneAdmin" resultType="UserVO">
		select identification,
		password, name, email, phone_number, nickname, birthday, gender,
		introducing_message, status, created_date, updated_date, role from
		tbl_user
		where id = #{adminId}
	</select>

	<update id="updateAdminPassword">
		update tbl_user
		set password = #{newPassword}
		where id
		= #{adminId}
	</update>

	<select id="selectAllUser" resultType="UserVO">
		select id, identification,
		password, name, email, phone_number, nickname, birthday, gender,
		introducing_message, status, created_date, updated_date, `role`,
		profil_image_name, profil_image_original_name, profil_image_size
		from
		tbl_user
		order by id desc
	</select>

	<!-- 사용자 정보 조회 / 은행 및 계좌정보 테이블 물어봐야할듯 -->
	<select id="selectUserInfoByUserId" resultType="MyPageInfoDTO">
		id, identification, name, email, phone_number, nickname, introducing_message
		from tbl_user
		where id = #{userId}
	</select>
	
	<!-- 사용자 계정정보 수정 -->
	<update id="updateUserInfo">
		update tbl_user
		set name = #{newName}, nickname = #{newNickname}, introducing_Message =	#{newIntroducingMessage}
			, phone_number = #{newPhoneNumber}, email = #{newEmail}
		where id = #{userId}
	</update>

	<!-- 회원탈퇴 -->
	<update id="deleteUserInfo">
		delete from tbl_user
		where id = #{userId}
	</update>


	<select id="getTotal" resultType="_int">
		select count(id) from tbl_user
		<where>
			<choose>
				<when test = "type == 'name'.toString()">
					and name like concat('%',#{keyword},'%')
				</when>
				<when test = "type == 'nickname'.toString()">
					and nickname like concat('%',#{keyword},'%')
				</when>
			</choose>
			
		</where>
	</select>

	<select id="selectAllUserLimitTen" resultType="userVO">
		SELECT id, identification, password, name, email,
		phone_number, nickname, birthday, gender, introducing_message, status,
		created_date, updated_date, `role`, profil_image_name,
		profil_image_original_name, profil_image_size
		FROM tbl_user
		<where>
			<choose>
				<when test = "type == 'name'.toString()">
					and name like concat('%',#{keyword},'%')
				</when>
				<when test = "type == 'nickname'.toString()">
					and nickname like concat('%',#{keyword},'%')
				</when>
			</choose>
			
		</where>
		order by id desc
		limit #{offset},#{rowCount};
	</select>

	
	
	<delete id="deleteAllUserSelected">
		delete from tbl_user
		<where>
			<foreach collection ="ids" item = "userId" separator="or">
				id =#{userId}
			</foreach>
		</where>
	</delete>

</mapper>
