<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<insert id="insert">
		insert into tbl_user
		(identification, password, name, email, phone_number, nickname, birthday, gender, introducing_message, status, created_date, updated_date, `role`, profil_image_name, profil_image_original_name, profil_image_size)
		values(#{identification},#{password},#{name},#{email},#{phoneNumber},#{nickname},#{birthday},#{gender},#{introducingMessage},#{status},#{createdDate},#{updatedDate},#{role},#{profilImageName},#{profilImageOriginalName},#{profilImageSize})
	</insert>

	<!-- 아이디 패스워드로 조회하고 userVO에 담아 리턴 -->
	<select id="login" resultType="userVO">
		select id, identification,
		password, name, email, phone_number, nickname, birthday, gender,
		introducing_message, status, created_date, updated_date, `role`,
		profil_image_name, profil_image_original_name, profil_image_size from
		tbl_user
		where identification = #{userIdentification} and password = #{userPassword}
	</select>
	
	<select id="selectAdminName" resultType="string">
		select name from tbl_user
		where id = #{adminId}
	</select>
	
</mapper>
