@charset "UTF-8";

#content {
	padding: 11rem 0 0;
	background: #fff;
}

.in_wrap {
	width: 100%;
	max-width: 79rem;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}

.board_wrap {
	padding: 0 0 8rem;
}

.pdt50 {
	padding-top: 50px !important;
}

.board_view .tit_wrap {
	padding: 1.5rem 0;
	border-bottom: 0.1rem solid #242424;
	line-height: 1.4;
	position: relative;
}

.trip_view .tit_wrap>div:first-child {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.trip_view .tit_wrap .schedule_date {
	color: #666;
	font-size: 1.5rem;
	line-height: 1.3;
}

.trip_view .tit_wrap .schedule_date span {
	color: #ff5800;
}

.trip_view .tit_wrap .city {
	color: #0d6ca6;
	font-size: 1.5rem;
	line-height: 1.3;
}

.trip_view .tit_wrap .city:before {
	content: "";
	display: inline-block;
	width: 0.1rem;
	height: 1rem;
	margin: 0 0.6rem;
	background: #999;
}

.trip_view .tit_wrap>div:first-child+div {
	margin: 1rem 0 1.5rem;
}

.board_view .tit_wrap .tit {
	padding-right: 2rem;
	max-height: 6rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	word-break: break-all;
	line-height: 1.3;
	font-weight: 500;
	font-size: 2rem;
}

.trip_view .tit_wrap .di_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trip_view .tit_wrap .nick {
	color: #888;
	font-size: 1.5rem;
	vertical-align: middle;
}

.trip_view .tit_wrap .date {
	margin: 0 0 0 1rem;
	font-size: 1.5rem;
	vertical-align: middle;
}

.board_view .tit_wrap .date {
	display: inline-block;
	color: #999;
	font-size: 1.6rem;
	white-space: nowrap;
}

.trip_view .tit_wrap .ico_wrap {
	display: flex;
	flex-wrap: wrap;
	color: #333;
	font-size: 1.5rem;
}

.trip_view .tit_wrap .ico_wrap>li {
	padding: 0 0.8rem;
	position: relative;
}

.trip_view .ico_wrap .ico_spot, .trip_view .ico_wrap .ico_like,
	.trip_view .ico_wrap .ico_down, .trip_view .ico_wrap .ico_share {
	width: 1.5rem;
	height: 1.5rem;
	margin: -0.1rem 0.6rem 0 0;
	display: inline-block;
	vertical-align: middle;
}

.board_view .cont_wrap {
	padding: 3rem 0;
	border-bottom: 0.1rem solid #d7d7d7;
	font-size: 1.6rem;
	line-height: 2;
}

.codex-editor {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1;
}

.ce-block:first-of-type {
	margin-top: 0;
}

.ce-block {
	-webkit-animation: fade-in .3s ease;
	animation: fade-in .3s ease;
	-webkit-animation-fill-mode: none;
	-webkit-animation-fill-mode: initial;
	animation-fill-mode: none;
}

.ce-block__content {
	max-width: unset;
}

.ce-block__content {
	position: relative;
	max-width: 650px;
	margin: 0 auto;
	-webkit-transition: background-color .15s ease;
	transition: background-color .15s ease;
}

#editorjs .ce-paragraph {
	line-height: 2em;
	font-size: 1.6rem;
}

.ce-paragraph {
	line-height: 1.6em;
	outline: none;
}

.cdx-block {
	padding: 0.4em 0;
}

.board_wrap .ce-block+.ce-block {
	margin-top: 1.5rem !important;
}

.ce-block__content {
	max-width: unset;
}

.edit.img-block[readonly=true] {
	padding: 1.5rem 0;
}

.ta_center {
	text-align: center !important;
}

.trip_view figure {
	display: inline-block;
	position: relative;
}

.board_view .cont_wrap img {
	max-width: 100%;
}

.trip_view figure .like, .trip_view .img_slide .like, .trip_view .img_group .like
	{
	width: 4rem;
	height: 4rem;
	position: absolute;
	background: rgba(0, 0, 0, .3);
	right: 1.5rem;
	bottom: 1.5rem;
	z-index: 1;
	border-radius: 100%;
	cursor: pointer;
}

.trip_view figure .like:before, .trip_view .img_slide .like:before,
	.trip_view .img_group .like:before {
	content: "";
	position: absolute;
	inset: 0;
	background:
		url('https://www.wishbeen.co.kr/heart_w.f31fae7c1d416970.svg') center
		55% no-repeat;
	background-size: 2rem;
}

.edit_menu {
	display: none;
	position: absolute;
	margin: -5rem 0 0;
	left: 50%;
	top: 0;
	background-color: #fff;
	border-radius: 0.6rem;
	z-index: 1;
	box-shadow: 0.2rem 0.2rem 0.8rem #0000004d;
	transition: all .3s;
	transform: translate(-50%);
	white-space: nowrap;
}

.edit_menu>li {
	display: inline-block;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled),
	button:not(:disabled) {
	cursor: pointer;
}

.edit_menu button {
	width: 3.6rem;
	height: 3.6rem;
	position: relative;
	background: transparent;
	outline: 0;
	border: 0;
	font-size: 0;
}

body, table, th, td, button, select, input, textarea {
	font-family: Noto Sans KR, Malgun Gothic, dotum, sans-serif;
	font-weight: 400;
	color: #111;
	line-height: 1;
	letter-spacing: 0;
	word-break: keep-all;
}

.edit figcaption {
	padding: 0.5rem 0;
	display: block;
	color: #999;
	font-size: 1.5rem;
	text-align: center;
	white-space: pre-wrap;
}

#editorjs .ce-paragraph {
	line-height: 2em;
	font-size: 1.6rem;
}

.ce-paragraph[data-placeholder]:empty::before {
	content: attr(data-placeholder);
	color: #707684;
	font-weight: normal;
	opacity: 0;
}

.codex-editor__redactor [contenteditable]:empty:after {
	content: "\feff ";
}

.codex-editor-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	pointer-events: none;
	overflow: hidden;
}

.codex-editor-overlay__container {
	position: relative;
	pointer-events: auto;
	z-index: 0;
}

.codex-editor-overlay__rectangle {
	position: absolute;
	pointer-events: none;
	background-color: rgba(46, 170, 220, .2);
	border: 1px solid transparent;
}

.trip_view .tag_wrap {
	margin: 3rem 0 0;
}

.trip_view .tag_wrap .tag {
	margin-right: 1rem;
}

.tag {
	padding: 0.8rem 1rem;
	display: inline-block;
	background: #f7f9ff;
	border-radius: 3rem;
	box-sizing: border-box;
	color: #242424;
	font-size: 1.4rem;
	line-height: 1;
	text-align: center;
}

.trip_view .like_wrap {
	margin: 3rem 0;
	text-align: center;
}

.trip_view .like_wrap a {
	width: 5rem;
	height: 5rem;
	display: inline-block;
	background: #fff;
	border: 0.1rem solid #e7e7e7;
	border-radius: 100%;
	box-shadow: 0.1rem 0.1rem 0.3rem #0000004d;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}

.trip_view .like_wrap .ico_like {
	width: 2.4rem;
	height: 2.4rem;
	margin: 1.5rem 0 0;
	display: inline-block;
}

.trip_view .attr_wrap {
	margin: 3rem 0;
	text-align: right;
}

.trip_view .attr_tag {
	margin-right: 1rem;
}

.comment_form .desc {
    position: absolute;
    margin-top: -0.6rem;
    top: 50%;
    right: 7.5rem;
    color: #999;
    font-size: 1.2rem;
}

.attr_tag {
	padding: 0.8rem 1.2rem 0.8rem 2.4rem;
	display: inline-block;
	position: relative;
	background: #fff;
	border-radius: 3rem;
	border: 0.1rem solid #666;
	box-sizing: border-box;
	color: #242424;
	font-size: 1.4rem;
	line-height: 1;
	text-align: center;
}

.attr_tag:before {
	content: "";
	position: absolute;
	inset: 0;
	background: url('https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg')
		0.8rem center no-repeat;
	background-size: 1.3rem;
}

.trip_view+.list_btn {
	border-top: 0.1rem solid #d7d7d7;
}

.list_btn.di_flex {
	display: flex;
	justify-content: space-between;
}

.list_btn {
	padding: 2.5rem 0;
	text-align: center;
}

.list_btn.di_flex>div {
	flex-grow: 1;
}

.ta_right {
	text-align: right !important;
}

.list_btn a, .list_btn button {
	margin: 0.3rem;
	background: transparent;
	border-radius: 0.6rem;
	outline: 0;
	border: 0;
	font-weight: 400;
}

.btn_st0 {
	min-width: 8rem;
	height: 4.5rem;
	padding: 0 1rem;
	display: inline-block;
	position: relative;
	background: #fff;
	border: 0.1rem solid #666 !important;
	border-radius: 0.6rem;
	box-sizing: border-box;
	outline: 0;
	color: #242424;
	font-size: 1.5rem;
	line-height: 4.3rem;
	text-align: center;
	transition: all .3s;
}

.btn_st0.active {
	background: #242424;
	border: 0;
	color: #fff;
	line-height: 4.5rem;
}

.list_btn a, .list_btn button {
	margin: 0.3rem;
	background: transparent;
	border-radius: 0.6rem;
	outline: 0;
	border: 0;
	font-weight: 400;
}

.comment_form {
	padding: 1.2rem;
	background: #fafafa;
	border-top: 0.1rem solid #d7d7d7;
	border-bottom: 0.1rem solid #d7d7d7;
	box-sizing: border-box;
}

.comment_form dt {
	margin: 0 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4rem;
}

.comment_form dt .count {
	color: #dc3545;
	font-weight: 700;
}

fieldset, img {
	border: 0;
}

.comment_form dd {
	position: relative;
}

.comment_form .txtbox {
	width: calc(100% - 6rem);
	padding: 1.2rem 7rem 1.2rem 1.2rem;
	border: 0.1rem solid #d7d7d7;
	background: #fff;
	font-size: 1.6rem;
}

input.txtbox {
	width: 100%;
	margin: 0;
	padding: 0 0 0.8rem;
	background: transparent;
	border: 0;
	border-bottom: 0.1rem solid #d7d7d7;
	box-sizing: border-box;
	font-size: 1.6rem;
	outline: 0;
	-webkit-appearance: none;
	appearance: none;
	overflow: hidden;
}

.list_btn {
	padding: 2.5rem 0;
	text-align: center;
}

.mo {
	display: none !important;
}

.board_wrap .more {
	width: 30%;
	max-width: 20rem;
}

.list_btn a, .list_btn button {
	margin: 0.3rem;
	background: transparent;
	border-radius: 0.6rem;
	outline: 0;
	border: 0;
	font-weight: 400;
}

.user_info_wrap {
	padding: 3rem 0;
	margin: 0 0 8rem;
	position: relative;
	background: #f7f7f7;
	box-sizing: border-box;
	border-radius: 1rem;
}

.user_info_wrap .in_wrap {
	width: 95%;
	display: flex;
	justify-content: center;
	position: relative;
}

.user_info_wrap .in_wrap>div {
	padding: 0 1rem;
}

.user_info_wrap .img {
	width: 6rem;
	height: 6rem;
	display: inline-block;
	border-radius: 100%;
	overflow: hidden;
	border: 0.1rem solid rgba(0, 0, 0, .1);
}

.img img, .map img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.user_info_wrap .in_wrap>div {
	padding: 0 1rem;
}

.user_info_wrap .nick {
	font-weight: 700;
	font-size: 2rem;
}

.user_info_wrap .txt_wrap li+li {
	margin: 1rem 0 0;
}

.user_info_wrap .desc {
	font-size: 1.4rem;
	line-height: 1.4;
}

.desc {
	margin: 1rem 0 0;
	display: inline-block;
	color: #888;
	font-weight: 300;
	font-size: 1.3rem;
	line-height: 1.3;
}

.banner_wrap {
	padding: 5rem 0;
	background: #fafafa;
}

.banner_wrap img {
	width: 100%;
}

dt {
	font-weight: 300;
}

.comment_form .btn_register {
	width: 6rem;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: #666;
	border-radius: 0 0.3rem 0.3rem 0;
	outline: 0;
	border: 0;
	color: #fff;
	font-size: 1.4rem;
	text-align: center;
}

.ico_share {
	background: url('https://www.wishbeen.co.kr/share.0dc03223b486080e.svg')
		center no-repeat;
	background-size: cover;
}

.btn_share{
	position:relative;
}

.btn_share:hover:after{
	    content: "";
    height: 0.1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    background: #242424;
}

.trip_view .schedule_wrap {
	margin: 2rem 0 0;
}

.schedule_wrap {
	width: 100%;
	min-height: 7rem;
	display: table;
	table-layout: fixed;
}

.schedule_wrap dt {
	width: 15%;
	padding: 1rem 0;
	display: table-cell;
	box-sizing: border-box;
	border-top: 0.1rem solid #e7e7e7;
	color: #333;
	font-weight: 700;
	font-size: 1.8rem;
	vertical-align: middle;
	text-align: center;
}

.schedule_wrap dt div {
	display: inline-block;
	position: relative;
}

.schedule_wrap dt span {
	display: inline-block;
	position: relative;
	z-index: 1;
}

.schedule_wrap dt div:after {
	content: "";
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 1.5rem;
	left: 0;
	background: #a4ffeb;
}

.schedule_wrap dd {
	padding: 1rem 1.5rem;
	display: table-cell;
	box-sizing: border-box;
	border-top: 0.1rem solid #e7e7e7;
	vertical-align: middle;
}

.trip_view .schedule_wrap .btn_detail, .trip_view .attraction_wrap .tit
	{
	cursor: pointer;
}

.schedule_wrap dd a:after {
	content: "";
	width: 1.2rem;
	height: 1.2rem;
	margin: -0.5rem 0 0;
	position: absolute;
	top: 50%;
	right: 0.3rem;
	background:
		url(https://www.wishbeen.co.kr/chevron_right.d4c5324d6a12e962.svg) 0 0
		no-repeat;
	background-size: cover;
	opacity: .7;
}

.schedule_wrap dd a {
	padding: 0.3rem 2rem 0.3rem 0.8rem;
	display: inline-block;
	position: relative;
	border-radius: 0.5rem;
	color: #999;
	font-weight: 500;
	font-size: 1.4rem;
	text-decoration: none !important;
}

/*게시물 옆에 툴바*/
.side_bar .btn_top_scroll {
	width: 4rem;
	height: 4rem;
	display: block;
	position: fixed;
	right: 38rem;
	bottom: 35rem;
	overflow: hidden;
	border-radius: 100%;
	background-color: #fff;
	box-sizing: border-box;
	transition: all .3s;
	cursor: pointer;
	opacity: 0;
	transform: translate(1rem);
	line-height: 4.4rem;
	z-index: 50;
	box-shadow: 0.4rem 0.4rem 0.8rem #0000001f;
}

.side_bar .btn_write_board {
	width: 4rem;
	height: 4rem;
	display: block;
	position: fixed;
	right: 38rem;
	bottom: 30rem;
	overflow: hidden;
	border-radius: 100%;
	background-color: #fff;
	box-sizing: border-box;
	transition: all .3s;
	cursor: pointer;
	opacity: 0;
	transform: translate(1rem);
	line-height: 4.4rem;
	z-index: 50;
	box-shadow: 0.4rem 0.4rem 0.8rem #0000001f;
}

.side_bar .btn_heart {
	width: 4rem;
	height: 4rem;
	display: block;
	position: fixed;
	right: 38rem;
	bottom: 25rem;
	overflow: hidden;
	border-radius: 100%;
	background-color: #fff;
	box-sizing: border-box;
	transition: all .3s;
	cursor: pointer;
	opacity: 0;
	transform: translate(1rem);
	line-height: 4.4rem;
	z-index: 50;
	box-shadow: 0.4rem 0.4rem 0.8rem #0000001f;
}

.side_bar .btn_top_scroll.active, .side_bar .btn_write_board.active,
	.side_bar .btn_heart.active {
	opacity: 1;
	transform: translate(0);
}

.side_bar .btn_top_scroll.active:hover, .side_bar .btn_write_board.active:hover,
	.btn_heart.active:hover {
	background-color: #e9e9e9;
}

a.btn_heart:hover, a.btn_location:hover{
	background-color: #e9e9e9;
	transition: all .3s;
}

.side_bar .btn_top_scroll:before {
	content: "";
	width: 1.8rem;
	height: 0.8rem;
	position: absolute;
	top: 50%;
	left: 50%;
	background:
		url(https://www.wishbeen.co.kr/chevron_up.3db1f7ee401e3d2d.svg) 0 0
		no-repeat;
	background-size: 100%;
	transform: translate(-50%, -50%);
}

.side_bar .btn_write_board:before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: url("../../image/write_board.png") 0 0 no-repeat;
	background-size: 100%;
	transform: translate(-50%, -50%);
}

.side_bar .btn_heart span {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: 55%;
	left: 50%;
	background: url("https://www.wishbeen.co.kr/heart.576b28cd5d31a1cd.svg")
		0 0 no-repeat;
	background-size: 100%;
	transform: translate(-50%, -50%);
}

.side_bar .btn_heart span.heart_clicked{
		background: url('https://www.wishbeen.co.kr/heart_fill_w.b4def27d5edb8412.svg')
		0 0 no-repeat;
		background-size: 100%;
}
.side_bar .btn_heart_clicked{
	background: #ff5800;
}
.side_bar span.btn_heart_clicked:hover{
	background: #f68143;
}

/*댓글 css */
.comment_list .inner {
	position: relative;
	box-sizing: border-box;
}

.comment_list .inner>ul {
	padding: 2.5rem 1.5rem 2.5rem 0;
}

.comment_list .di_flex {
	display: flex;
	justify-content: space-between;
}

.comment_list .left_wrap {
	display: flex;
}

.comment_list .left_wrap .img {
	width: 3.6rem;
	height: 3.6rem;
	margin: 0 1rem 0 0;
	display: inline-block;
	border-radius: 100%;
	overflow: hidden;
}

.comment_list .left_wrap .nick {
	display: inline-block;
	font-size: 1.3rem;
	vertical-align: middle;
}

.comment_list .left_wrap .txt {
	margin: 0.7rem 0 0;
	color: #333;
	font-size: 1.4rem;
	line-height: 1.6;
}

.comment_list .right_wrap {
	width: 20%;
	min-width: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: right;
}

.comment_list .right_wrap .date {
	margin: 0 2.5rem 0 0;
	display: inline-block;
	color: #999;
	font-size: 1.3rem;
}

.comment_list .right_wrap .btn_set {
	top: 1rem;
}

.comment_list .right_wrap .btn_reply {
	font-size: 1.3rem;
}

.comment_list .inner.reply {
	background: #fafafa;
}

.comment_list .inner {
	position: relative;
	box-sizing: border-box;
}

.comment_list .inner.reply>ul {
	padding: 2.5rem 1.5rem 2.5rem 3rem;
}

.comment_list .di_flex {
	display: flex;
	justify-content: space-between;
}

.comment_list .left_wrap {
	display: flex;
}

.comment_list .inner.reply .img {
	width: 2.4rem;
	height: 2.4rem;
}

.comment_list .left_wrap .nick {
	display: inline-block;
	font-size: 1.3rem;
	vertical-align: middle;
}

.comment_list .left_wrap .txt {
	margin: 0.7rem 0 0;
	color: #333;
	font-size: 1.4rem;
	line-height: 1.6;
}

.comment_list .left_wrap .txt .c_st05 {
	padding-right: 0.5rem;
	display: inline-block;
}

.comment_list .right_wrap {
	width: 20%;
	min-width: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: right;
}

.comment_list .right_wrap .date {
	margin: 0 2.5rem 0 0;
	display: inline-block;
	color: #999;
	font-size: 1.3rem;
}

.comment_list .right_wrap .btn_reply {
	font-size: 1.3rem;
}

.pagination {
	display: flex;
	justify-content: center;
}

.pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	padding-top: 50px;
}

.pagination a {
	width: 3rem;
	margin: 0 0.2rem;
	display: inline-block;
	border: 0.1rem solid #999;
	border-radius: 0.3rem;
	overflow: hidden;
	text-align: center;
	line-height: 3rem;
	font-weight: 500;
	font-size: 1.5rem;
	opacity: .5;
}

.pagination a img {
	margin-top: -0.2rem;
}

.pagination a.active {
	opacity: 1;
	border-color: #242424;
}