@charset "UTF-8";
* {
	margin: 0;
	padding:0;
	font-family: 'Noto Sans KR', sans-serif;
}

html{
	width:100%;
	background-color:#e2e2e2;
}



div.wrap {
	min-width:1500px;
	height:100%;
	
}



div.mainContent {
	width: 80%;
	height:950px;
	margin:35px auto;
}


div.mainContent div.mainBox {
	width:100%;
	height:400px;
	display:flex;
	justify-content:space-around;
}


div.mainContent div.mainBox div.mainBoxList {
	width: 564px;
    height: 358px;
    background-color: white;
    padding: 17px;
    box-shadow:1px 1px 5px #c4c4c4;
}



table {
	width:90%;
	margin:0 auto;
	border-collapse: collapse;
	font-size:15px;
	position: relative;

}


table tr th::after {
    content: ' 더보기 → ';
    width: 45px;
    border: 1px solid #6e6e6e;
    border-radius: 30px;
    font-size: 3px;
    font-weight: 300;
    color: #6e6e6e;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    right: 0;
    cursor: pointer;
}



table tr td {
		border: 1px solid #bcbcbc;
		padding:15px;	
		font-weight:600;
		color:#6e6e6e;
		font-size:10px;
		height:8px;
}

table tr,table td {
	border-left:1px solid white;
	border-right:1px solid white;
}


table tr:first-child,
table td:first-child {
	border-left: 0;
}
table tr:last-child,
table td:last-child {
	border-right: 0;
}



