@charset "UTF-8";

* {
	margin: 0;
	padding:0;
	font-family: 'Noto Sans KR', sans-serif;
}

html{
	width:100%;
	background-color:#e2e2e2;
}



div.wrap {
	min-width:1500px;
	height:100%;
}


div.header {
	min-width:100%;
	height:60px;
	display:flex;
	box-shadow:1px 1px 5px #c4c4c4;
	background:white;
	position:relative;
}


div.logoImage {
	width:15%;
	height:100%;
	background-color:bule;
	position:relative;
}


div.logoImage a>img {
    position: absolute;
    top: -5px;
    left: 25px;
}


div.title {
	width:85%;
	height:60px;
	/*background-color: aqua;*/
}

div.title div {
	display:inline-block;
	line-height: 70px;
	padding-left:30px;
}


div.title div span.ChangeTitle {
	font-size:20px;
	font-weight: 800;
	letter-spacing: 5px;
	color:#272727;
}

div.title span small {
	color:#6e6e6e;
	position:absolute;
	right: 10px;
    top: 31px;
}

section.mainContainer {
	width:100%;
	height:800px;
	display:flex;
}

nav {
	width:15%;
	height:800px;
	background-color: white;
	display:inline-block;
	position:relative;
	top:1px;
}


nav ul {
	width:100%;
	height:100%;
	overflow:hidden;
	list-style:none;
}


nav ul li {
	width: 100%;
	height:50px;
	border-bottom: 0.3px solid #6e6e6e24;
	text-align:left;
	line-height:50px;
	list-style:none;
	font-weight: 600;
	font-size:12px;
}

nav ul li:active{
	background-color:#ff7f00;
}


nav ul li a {
	color:#272727;
	text-decoration: none;
	cursor:pointer;
	display: block;
    padding-left: 20px;
}


#listHide {
	display:none;
}
