@charset "UTF-8";

* {
	margin: 0;
	padding:0;
	font-family: 'Noto Sans KR', sans-serif;
}

html{
	width:100%;
	background-color:#e2e2e2;
}



div.wrap {
	min-width:1500px;
	height:100%;
}


div.header {
	min-width:100%;
	height:60px;
	display:flex;
	box-shadow:1px 1px 5px #c4c4c4;
	background:white;
	position:relative;
}


div.logoImage {
	width:15%;
	height:100%;
	background-color:bule;


	position:relative;

}


div.logoImage a>img {
    position: absolute;
    top: -5px;
    left: 25px;
}


div.title {
	width:85%;
	height:60px;
	/*background-color: aqua;*/
}

div.title div {
	display:inline-block;
	line-height: 70px;
	padding-left:30px;
}


div.title div span.ChangeTitle {
	font-size:20px;
	font-weight: 800;
	letter-spacing: 5px;
	color:#272727;
}

div.title span small {
	color:#6e6e6e;
	position:absolute;
	right: 10px;
    top: 31px;
}

section.mainContainer {
	width:100%;
	height:800px;
	display:flex;
}

nav {
	width:15%;
	height:800px;
	background-color: white;
	display:inline-block;
	position:relative;
	top:1px;
}


nav ul {
	width:100%;
	height:100%;
	overflow:hidden;
	list-style:none;
}


nav ul li {
	width: 100%;
	height:50px;
	border-bottom: 0.3px solid #6e6e6e24;
	text-align:left;
	line-height:50px;
	list-style:none;
	font-weight: 600;
	font-size:12px;
}

nav ul li:active{
	background-color:#ff7f00;
}


nav ul li a {
	color:#272727;
	text-decoration: none;
	cursor:pointer;
}



#listHide {
	display:none;
}



div.mainContent {
	width: 74%;
	height: 650px;
	margin:30px auto;
	position:relative;

	
}
/*가져가야할부분end*/





div.mainContent div.memberSearch {
	width: 100%;
	height: 50px;
    margin-bottom: 30px;
    padding-top: 8px;	
    background-color: white;
    box-shadow:1px 1px 5px #c4c4c4;
}


div.memberSearch div.memberSearchInput {
	width: 96%;
    margin: 0 auto;
    display: flex;
    border: 1px solid #c5c5c5;
    height: 40px;
    line-height:40px;
    padding-left:15px;
    font-size:13px;
    font-weight:600;
    color:#6e6e6e;
}



div.memberSearch div.memberSearchInput select {
	width: 17%;
    height: 100%;
    border: none;
    border-right: 1px solid #c5c5c5;
    outline: none;
}


div.memberSearch div.memberSearchInput div:nth-child(2) {
	width: 80%;
    height: 100%;
    border-right: 1px solid #c5c5c5;
}


div.memberSearch div.memberSearchInput div:nth-child(3) {
	width: 5%;
    height: 100%;
}

div.memberSearch div.memberSearchInput div input {
    outline: none;
    border:0;
    padding-left:10px;
    width: 98%;
}

button {
	border : none;
}
button img{
    cursor: pointer;
    width: 100%;
    height: 100%;
 
}




div.memberLists {
	width:100%;
	height:100%;
	background-color:white;
	box-shadow:1px 1px 5px #c4c4c4;
	position:realtive;
	padding-top: 20px;
}

div.memberLists div#root {
	margin: 0 auto;
    width: 95%;
    padding-bottom: 5px
}

div.memberLists div#root div {
	text-align: left;
}


div.memberLists div#root div#checkResult {
	display: inline-block;
}



div.memberLists div#root div span {
	font-size:13px;
	color: #6e6e6e;
}

div.memberLists div#root div button {
	width: 50px;
    height: 25px;
    background-color: white;
    border:1px solid #bcbcbc;
    cursor:pointer;
    border-radius:2px;
    color: #6e6e6e;
       
       position: absolute;
    right: 31px;
}


div.memberLists div#root div button:active {
	background-color: #bcbcbc;
}



table {
	width:95%;
	margin:0 auto;
	border-collapse: collapse;
	line-height: 1.5;
	font-size:13px;
	text-align : center;

}



table tr td {
		border: 1px solid #bcbcbc;
		padding:15px;	
		font-weight:600;
		color:#6e6e6e;
		font-size:12px;
		height:8px;
}

table tr,table td {
	border-left:1px solid white;
	border-right:1px solid white;
}


table tr:first-child,
table td:first-child {
	border-left: 0;
	width : 10px;
}
table tr:last-child,
table td:last-child {
	border-right: 0;
}


table tr.tableTh td {
	background-color:#f1f1f1;
}





.btn-write {
	    position: absolute;
    width: 200px;
    margin: 0 auto;
    text-align: end;
    right: 50px;
    bottom: -90px;
}
.clickWriteBtn {
	width: 100px;
    background-color: white;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px #bcbcbc;
    border: 1px solid #bcbcbc;
    height: 30px;
    color: #6e6e6e;
    margin-top: 5px;
    display: inline-block;
}

.clickWriteBtn:active {
	background-color:#c4c4c4;
}




/* page controller */
.page-controller-wrap {
	display: flex;
	 justify-content: center;
	 -webkit-box-align: center;
	 align-items: center;
	 margin-top: 10px;
	 background : #fff;
	 font-size: 12px;
	 color: #ddd;
	     position: absolute;
    left: 522px;
        bottom: -80px;
 }
 
 .page-list {
	display: flex;
	 -webkit-box-align: center;
	 align-items: center;
	 -webkit-box-pack: center;
	 justify-content: center;
	 width: 34px;
	 height: 34px;
	 border-top: 1px solid rgb(221, 221, 221);
	 border-right: 1px solid rgb(221, 221, 221);
	 border-bottom: 1px solid rgb(221, 221, 221);
	 border-image: initial;
	 border-left: none;
	 cursor: pointer;
 }
 
 
 .page-list:hover ,
 .page-list.list-on {
	color: #666;
	font-weight: 700;
 }
 
 .page-list:first-of-type {
	border-left : 1px solid rgb(221, 221, 221);
 }
 
 .page-list-move {
	 border-image: initial;
	 border-left: none;
	 cursor: pointer;
 }
 
 .page-list-move img {
	width: 5px;
	height : 7px;
 } 