<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itemBoard">

<select id="selectItemBoardList" resultType="itemBoardDTO">
		select tib.id, title,
		content, start_date, end_date, register_date, tib.updated_date,
		viewed_count, user_id,tu.name
		FROM trip_item_board tib join tbl_user tu
		on tib.user_id = tu.id
		order by tib.id desc
	</select>
	
	
	
	
	<select id="getTotal" resultType="_int">
		select count(tu.id) from trip_item_board tib
		join tbl_user tu 
		on tib.id = tu.id
		
		<where>
			<choose>
				<when test = "type == 'title'.toString()">
					and title like concat('%',#{keyword},'%')
				</when>
				<when test = "type == 'nickname'.toString()">
					and nickname like concat('%',#{keyword},'%')
				</when>
				<when test = "type == 'content'.toString()">
					and content like concat('%',#{keyword},'%')
				</when>
			</choose>
			
		</where>
	</select>

	<select id="selectAllItemBoardLimitTen" resultType="itemBoardDTO">
		select tib.id,
		title, content, register_date, tib.updated_date, viewed_count,
		user_id,tu.nickname
		FROM trip_item_board tib join tbl_user tu
		on tib.user_id = tu.id
		<where>
			<choose>
				<when test = "type == 'title'.toString()">
					and title like concat('%',#{keyword},'%')
				</when>
				<when test = "type == 'nickname'.toString()">
					and nickname like concat('%',#{keyword},'%')
				</when>
				<when test = "type == 'content'.toString()">
					and content like concat('%',#{keyword},'%')
				</when>
				
			</choose>
			
		</where>
		order by tib.id desc
		limit #{offset},#{rowCount};
	</select>
	
	
	<delete id="deleteAllItemBoardSelected">
		delete from item_board
		<where>
			<foreach collection ="ids" item = "boardId" separator="or">
				id =#{boardId}
			</foreach>
		</where>
	</delete>

</mapper>
