<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itemBoard">
	<!-- 나의 기념품 조회 -->
	<select id="selectQuestionBoardList"
		resultType="questionBoardDTO">
		SELECT ib.id, title, content, register_date, ib.updated_date,
		responsed_status, user_id,tu.nickname
		FROM item_board ib join tbl_user tu
		on ib.user_id = tu.id
		where tu.id = #{id}
		order by ib.id desc
	</select>
	
	<!-- 나의 기념품 삭제 -->
	<delete id="deleteAllTripBoardSelected">
		delete from trip_board
		<where>
			<foreach collection ="ids" item = "itemId" separator="or">
				id =#{itemId}
			</foreach>
		</where>
	</delete>
</mapper>
