<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="questionBoard">
	<select id="selectQuestionBoardList"
		resultType="questionBoardDTO">
		SELECT qb.id, title, content, register_date, qb.updated_date,
		responsed_status, user_id,tu.nickname
		FROM question_board qb join tbl_user tu
		on qb.user_id = tu.id
		order by qb.id desc
	</select>
</mapper>
