<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tripBoard">

	<!-- 작성자와 보드 전부 가져오기 내림차순 -->
	<select id="selectTripBoardList" resultType="tripBoardDTO">
		select tb.id, title,
		content, start_date, end_date, register_date, tb.updated_date,
		viewed_count, user_id,tu.name
		FROM trip_board tb join tbl_user tu
		on tb.user_id = tu.id
		order by tb.id desc
	</select>
	
	<select id="getTotal" resultType="_int">
		select distinct count(board_id)
	</select>
</mapper>
