<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tripBoard">

	<!-- 작성자와 보드 전부 가져오기 내림차순 -->
	<select id="selectTripBoardList" resultType="tripBoardDTO">
		select tb.id, title,
		content, start_date, end_date, register_date, tb.updated_date,
		viewed_count, user_id,tu.name
		FROM trip_board tb join tbl_user tu
		on tb.user_id = tu.id
		order by tb.id desc
	</select>
	
	
	
	
	<select id="getTotal" resultType="_int">
		select count(tu.id) from trip_board tb
		join tbl_user tu 
		on tb.id = tu.id
		
		<where>
			<choose>
				<when test = "type == 'title'.toString()">
					and title like concat('%',#{keyword},'%')
				</when>
				<when test = "type == 'nickname'.toString()">
					and nickname like concat('%',#{keyword},'%')
				</when>
				<when test = "type == 'content'.toString()">
					and content like concat('%',#{keyword},'%')
				</when>
			</choose>
			
		</where>
	</select>

	<select id="selectAllTripBoardLimitTen" resultType="tripBoardDTO">
			SELECT tb.id,
		title, content, register_date, tb.updated_date, viewed_count,
		user_id,tu.nickname
		FROM trip_board tb join tbl_user tu
		on tb.user_id = tu.id
		<where>
			<choose>
				<when test = "type == 'title'.toString()">
					and title like concat('%',#{keyword},'%')
				</when>
				<when test = "type == 'nickname'.toString()">
					and nickname like concat('%',#{keyword},'%')
				</when>
				<when test = "type == 'content'.toString()">
					and content like concat('%',#{keyword},'%')
				</when>
				
			</choose>
			
		</where>
		order by
		<choose>
			<when test="sort=='createdatdesc'.toString()">
				register_date
			</when>
			<when test="sort=='popularitydesc'.toString()">
				viewed_count
			</when>
		</choose>
		desc
		limit #{offset},#{rowCount};
	</select>
	
	
	<delete id="deleteAllTripBoardSelected">
		delete from trip_board
		<where>
			<foreach collection ="ids" item = "boardId" separator="or">
				id =#{boardId}
			</foreach>
		</where>
	</delete>
	
	<select id="selectAll" resultType="tripBoardDTO">
		select tb.id, title,
		content, start_date, end_date, register_date, tb.updated_date,
		viewed_count, user_id,tu.name
		FROM trip_board tb join tbl_user tu
		on tb.user_id = tu.id
		order by
			<choose>
				<when test="sort=='during_start__desc'.toString()">	
					start_date
				</when>
				<when test="sort=='createdatdesc'.toString()">		
					register_date
				</when>
				<when test="sort=='popularitydesc'.toString()">		
					viewed_count
				</when>
				<otherwise>
						start_date
				</otherwise>
			</choose>
		 desc
		limit #{offset}, #{rowCount}
	</select>
	
	<select id="selectOne" resultType="tripBoardDTO">
		select tb.id, title,
		content, start_date, end_date, register_date, tb.updated_date,
		viewed_count, user_id,tu.name
		FROM trip_board tb join tbl_user tu
		on tb.user_id = tu.id
		where tb.id = #{tripboard_id}
	</select>
	
	<update id="updateReadCount">
		update trip_board
		set viewed_count= viewed_count+1
		where id = #{tripboard_id}
	</update>
	
	<insert id="insert">
		insert into trip_board
		(id,title,content,user_id)
		values(#{id},#{title},#{content},#{userId})
	</insert>
</mapper>
