@charset "UTF-8";

html {
	display: block;
	font-size: 10px;
   	padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

:root{
 	/* view-transition-name: root; */
	--bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    --key-color: #ff8000;
    --key-color-disabled: #dfe1e6;
    --kakao-background-color: #fee500;
    --naver-background-color: #03c75a;
    --facebook-background-color: #1877f2;
    --apple-background-color: #000000;
}

/*
html[Attributes Style] {
    -webkit-locale: "ko";
}
*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, textarea {
    margin: 0;
    padding: 0;
}

body, table, th, td, button, select, input, textarea, img, a, label, ol, ul, dl, li, dt, dd, div, p, pre, form, fieldset {
    -webkit-tap-highlight-color: transparent!important;
}

body, table, th, td, button, select, input, textarea {
    font-family: Noto Sans KR,Malgun Gothic,dotum,sans-serif;
    font-weight: 400;
    color: #111;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, address {
    display: block;
    margin: 0;
    padding: 0;
}

body, table, th, td, button, select, input, textarea {
    font-family: Noto Sans KR,Malgun Gothic,dotum,sans-serif;
    font-weight: 400;
    color: #111;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
}

ol, ul {
    list-style: none;
}

a, input[type=file], button {
    cursor: pointer;
}

a:link, a:active, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

fieldset, img {
    border: 0;
}

.img img, .map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*, :after, :before {
    box-sizing: border-box;
}

button, select {
    text-transform: none;
}

body{
	display: block;
 	box-sizing: border-box;
 	background-color: #fff;
 	-webkit-text-size-adjust: none;
 	-webkit-tap-highlight-color: transparent!important;
 	font-family: Noto Sans KR,Malgun Gothic,dotum,sans-serif;
    font-weight: 400;
    color: #111;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
    margin: 0;
    padding: 0;
    height: 100%;
}

*, :after, :before {
    box-sizing: border-box;
}

#content {
    padding: 7rem 0 0;
    background: #fff;
}

header {
    display: block;
}

.sub_header {
    height: 24rem;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.sub_header:before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.4);
    z-index: 1;
}

.in_wrap {
    width: 100%;
    max-width: 79rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.sub_header.st1:after {
    background-image: url(https://www.wishbeen.co.kr/bg_st1.6a2f5896da8523ee.jpg);
}

.sub_header:after {
    content: "";
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, div {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

.sub_header .dth2 {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.2;
    z-index: 5;
    display: block;
    padding-top: 36px;
}

*, :after, :before {
    box-sizing: border-box;
}

.my_header {
    margin: 5rem 0;
}

.position_r {
    position: relative!important;
    margin-top : 5rem;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.mo {
    display: none!important;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

i {
    font-style: italic;
}

img {
    vertical-align: middle;
}


fieldset, img {
    border: 0;
}

img, svg {
    vertical-align: middle;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.tab_nav.st01 {
    width: 100%;
    margin: 0 auto 2rem;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

.tab_nav {
    width: 100%;
    max-width: 790px;
    margin: 0 auto 3rem;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.tab_nav.st01 li a:hover {
    background: #242424;
    color: #fff;
}

.tab_nav.st01 li {
    display: inline-block;
    transition: all .3s;
}

.tab_nav.st01 li a.active {
    background: #242424;
    color: #fff;
}

.tab_nav.st01 li a {
    min-width: 10rem;
    height: 4rem;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0 1.6rem;
    display: inline-block;
    background: #fff;
    border: none;
    border-radius: 3rem;
    font-size: 1.6rem;
    line-height: 4rem;
    box-shadow: 0 1px 2px #00000026;
}

.tab_nav a {
    display: block;
    margin-left: -0.1rem;
    position: relative;
    box-sizing: border-box;
    border: 0.1rem solid #ddd;
    color: #666;
    font-size: 1.5rem;
    line-height: 5rem;
    text-align: center;
    box-shadow: inset 0 0 #242424;
    transition: all .2s ease;
}

a:link, a:active, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}

.my_wrap {
    padding: 0 0 10rem;
}

.cmt_list:not(.skeleton_wrap) .inner:hover {
    border-color: #ff5800;
}

.cmt_list .inner {
    position: relative;
    transition: all .3s;
    box-sizing: border-box;
    background-color: #fff;
    border: 0.1rem solid #d7d7d7;
    border-radius: 1rem;
}

.cmt_list .tit_bar {
    height: 5rem;
    padding: 0 1.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    border-bottom: 0.1rem solid #d7d7d7;
    box-sizing: border-box;
    border-radius: 1rem 1rem 0 0;
}

.txt_hide {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cmt_list .tit_bar .cate {
    display: inline-block;
    margin-right: 0.8rem;
    color: #ff5800;
    font-weight: 400;
    font-size: 1.6rem;
}

.cmt_list .tit_bar .tit, .cmt_list .tit_bar .city, .cmt_list .tit_bar .name {
    font-weight: 400;
    font-size: 1.7rem;
}

.cmt_list .tit_bar .tit:before, .cmt_list .tit_bar .name:before {
    content: "";
    width: 0.1rem;
    height: 1.2rem;
    margin-right: 0.8rem;
    background: #999;
    display: inline-block;
}

.cmt_list .tit_bar .btn_go {
    margin-left: 1rem;
    white-space: nowrap;
}

a.btn_go {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 1.5rem;
}

a.btn_go img {
    margin: -0.3rem 0 0 0.3rem;
}

.cmt_list .cont.di_flex {
    min-height: 10.6rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cmt_list .cont {
    position: relative;
    overflow: visible!important;
    cursor: pointer;
}

.cmt_list .cont>div:first-child {
    flex-grow: 1;
}

.cmt_list .cont>div {
    padding: 2rem;
    box-sizing: border-box;
}

.my_wrap .cmt_list .cont.di_flex .txt_wrap {
    width: 100%;
}

.my_wrap .cmt_list .txt_wrap {
    width: 85%;
}

.cmt_list .cont .txt_wrap {
    margin-bottom: 2.5rem;
    max-height: 4.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    color: #333;
    font-size: 1.5rem;
    line-height: 1.5;
}

.cmt_list .cont>div>ul li+li {
    margin: 1.2rem 0 0;
}

.ta_right {
    text-align: right!important;
}

.cmt_list .cont .btn_fold {
    padding: 0.6rem 1rem;
    margin: -0.8rem 1rem 0 0;
    display: inline-block;
    border-radius: 3rem;
    color: #0d6ca6;
    font-size: 1.3rem;
    box-shadow: 0.1rem 0.1rem 0.3rem #0000004d;
}

.cmt_list .cont .btn_set {
    top: 1rem;
}

.btn_set {
    padding: 1rem;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: .6;
    z-index: 15;
}

.btn_set img {
    width: 2rem;
}

.my_wrap .cmt_list .date {
    margin: 0;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

.cmt_list .cont .date {
    color: #999;
    font-size: 1.5rem;
}

.clear_v2:after {
    content: "";
    display: block;
    clear: both;
}

img {
    vertical-align: middle;
}

a {
    color: inherit;
    text-decoration: inherit;
}




