@charset "UTF-8";

html {
	display: block;
	font-size: 10px;
   	padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

:root{
 	/* view-transition-name: root; */
	--bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    --key-color: #ff8000;
    --key-color-disabled: #dfe1e6;
    --kakao-background-color: #fee500;
    --naver-background-color: #03c75a;
    --facebook-background-color: #1877f2;
    --apple-background-color: #000000;
}

/*
html[Attributes Style] {
    -webkit-locale: "ko";
}
*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, textarea {
    margin: 0;
    padding: 0;
}

body, table, th, td, button, select, input, textarea, img, a, label, ol, ul, dl, li, dt, dd, div, p, pre, form, fieldset {
    -webkit-tap-highlight-color: transparent!important;
}

body, table, th, td, button, select, input, textarea {
    font-family: Noto Sans KR,Malgun Gothic,dotum,sans-serif;
    font-weight: 400;
    color: #111;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, address {
    display: block;
    margin: 0;
    padding: 0;
}

body, table, th, td, button, select, input, textarea {
    font-family: Noto Sans KR,Malgun Gothic,dotum,sans-serif;
    font-weight: 400;
    color: #111;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
}

dl, ol, ul {
    list-style: none;
}

a, input[type=file], button {
    cursor: pointer;
}

a:link, a:active, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

fieldset, img {
    border: 0;
}

.img img, .map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*, :after, :before {
    box-sizing: border-box;
}

button {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}

button, select {
    text-transform: none;
}

body{
	display: block;
 	box-sizing: border-box;
 	background-color: #fff;
 	-webkit-text-size-adjust: none;
 	-webkit-tap-highlight-color: transparent!important;
 	font-family: Noto Sans KR,Malgun Gothic,dotum,sans-serif;
    font-weight: 400;
    color: #111;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
    margin: 0;
    padding: 0;
    height: 100%;
}

*, :after, :before {
    box-sizing: border-box;
}

#wrap {
    overflow: hidden;
    width: 100%;
    min-width: 28rem;
    position: relative;
    word-break: break-all;
}

header {
    display: block;
}

.sub_header {
    height: 24rem;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.sub_header:before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.4);
    z-index: 1;
}

.in_wrap {
    width: 100%;
    max-width: 79rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.sub_header.st1:after {
    background-image: url(bg_st1.6a2f5896da8523ee.jpg);
}

.sub_header:after {
    content: "";
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, div {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

.sub_header .dth2 {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.2;
    z-index: 5;
    display: block;
    padding-top: 36px;
}

.sub_header.st1:after {
    background-image: url(bg_st1.6a2f5896da8523ee.jpg);
}

.sub_header:after {
    content: "";
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*, :after, :before {
    box-sizing: border-box;
}

.sub_header.st1:after {
    background-image: url(https://www.wishbeen.co.kr/bg_st1.6a2f5896da8523ee.jpg);
}

.sub_header:after {
    content: "";
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.position_r {
    position: relative!important;
    margin-top : 5rem;
}

#content {
    padding: 7rem 0 0;
    background: #fff;
}

.my_header {
    margin: 5rem 0;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.mo {
    display: none!important;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

img {
    vertical-align: middle;
}


fieldset, img {
    border: 0;
}

img, svg {
    vertical-align: middle;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.my_wrap {
    padding: 0 0 10rem;
}

.tab_nav {
    width: 100%;
    max-width: 790px;
    margin: 0 auto 3rem;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.tab_nav.st01 {
    width: 100%;
    margin: 0 auto 2rem;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

.tab_nav.st01 li {
    display: inline-block;
    transition: all .3s;
}

.tab_nav.st01 li a {
    min-width: 10rem;
    height: 4rem;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0 1.6rem;
    display: inline-block;
    background: #fff;
    border: none;
    border-radius: 3rem;
    font-size: 1.6rem;
    line-height: 4rem;
    box-shadow: 0 1px 2px #00000026;
}

.tab_nav li a.active {
    color: #242424;
    font-weight: 400;
    border: 0.1rem solid #242424;
    border-bottom-color: transparent;
}

.tab_nav.st01 li a.active {
    background: #242424;
    color: #fff;
}

.my_wrap header {
    margin: 2rem 0;
}

.my_wrap .header.ta_right {
    margin-bottom: 3rem;
}

.ta_right {
    text-align: right!important;
}

.cmt_list:not(.skeleton_wrap) .inner:hover {
    border-color: #ff5800;
}

.cmt_list .inner {
    position: relative;
    transition: all .3s;
    box-sizing: border-box;
    background-color: #fff;
    border: 0.1rem solid #d7d7d7;
    border-radius: 1rem;
}

.cmt_list .tit_bar {
    height: 5rem;
    padding: 0 1.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    border-bottom: 0.1rem solid #d7d7d7;
    box-sizing: border-box;
    border-radius: 1rem 1rem 0 0;
}

.txt_hide {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cmt_list .tit_bar .tit, .cmt_list .tit_bar .city, .cmt_list .tit_bar .name {
    font-weight: 400;
    font-size: 1.7rem;
}

.cmt_list .tit_bar .date {
    display: inline-block;
    margin-left: 1rem;
    color: #999;
    font-weight: 400;
    font-size: 1.5rem;
    white-space: nowrap;
}

.my_wrap .cmt_list .tit_bar .date {
    margin: 0;
    position: relative;
    left: inherit;
    bottom: inherit;
}

.cmt_list .cont {
    position: relative;
    overflow: visible!important;
    cursor: pointer;
}

.cmt_list .cont>div {
    padding: 2rem;
    box-sizing: border-box;
}

.my_wrap .cmt_list .cont>div>a {
    position: absolute;
    inset: 0;
}

a:link, a:active, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}

.cmt_list .cont .tit {
    width: calc(100% - 10rem);
    max-height: 6rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    line-height: 1.3;
    font-weight: 400;
    font-size: 1.7rem;
}

.cmt_list .cont>div>ul li+li {
    margin: 1.2rem 0 0;
}

.pdt05 {
    padding-top: 5px!important;
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}

.cmt_list .ico_wrap li {
    margin: 0 1rem 0 0!important;
    display: inline-block;
    color: #999;
    font-size: 1.3rem;
}

.cmt_list .ico_wrap span {
    width: 1.4rem;
    height: 1.4rem;
    margin: -0.1rem 0.5rem 0 0;
    display: inline-block;
    vertical-align: middle;
    opacity: .6;
}

.ico_spot {
    background: url(https://www.wishbeen.co.kr/eye.903d20db7e9b8614.svg) center no-repeat;
    background-size: cover;
}

.ico_cmt {
    background: url(https://www.wishbeen.co.kr/chat_dots.4000db42c3634f37.svg) center no-repeat;
    background-size: cover;
}

.ico_like {
    background: url(https://www.wishbeen.co.kr/heart.576b28cd5d31a1cd.svg) center no-repeat;
    background-size: cover;
}

.btn_set:hover {
    background: #fcaf86;
}

.btn_set {
    padding: 1rem;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: .6;
    z-index: 15;
}

.cmt_list .cont .btn_set {
    top: 1rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.btn_set img {
    width: 2rem;
}

.clear_v2:after {
    content: "";
    display: block;
    clear: both;
}

.set_menu {
    width: 12rem;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    border: 0.1rem solid #242424;
    box-shadow: 0.3rem 0.3rem 0.5rem #0000004d;
    border-radius: 0.6rem;
    overflow: hidden;
    z-index: 20;
}

.cmt_list .cont .set_menu {
    top: 5rem;
}

.set_menu li {
    color: #333;
    font-size: 1.4rem;
    text-align: center;
}

.set_menu li+li {
    margin: 0!important;
    border-top: 0.1rem solid #e7e7e7;
}

.set_menu a:hover {
    background: #f5f5f5;
}

.set_menu a {
    padding: 1rem 0;
    display: block;
}

