@charset "UTF-8";

html {
	display: block;
	font-size: 10px;
   	padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

:root{
 	/* view-transition-name: root; */
	--bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    --key-color: #ff8000;
    --key-color-disabled: #dfe1e6;
    --kakao-background-color: #fee500;
    --naver-background-color: #03c75a;
    --facebook-background-color: #1877f2;
    --apple-background-color: #000000;
}

/*
html[Attributes Style] {
    -webkit-locale: "ko";
}
*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, textarea {
    margin: 0;
    padding: 0;
}

body, table, th, td, button, select, input, textarea, img, a, label, ol, ul, dl, li, dt, dd, div, p, pre, form, fieldset {
    -webkit-tap-highlight-color: transparent!important;
}

body, table, th, td, button, select, input, textarea {
    font-family: Noto Sans KR,Malgun Gothic,dotum,sans-serif;
    font-weight: 400;
    color: #111;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, address {
    display: block;
    margin: 0;
    padding: 0;
}

body, table, th, td, button, select, input, textarea {
    font-family: Noto Sans KR,Malgun Gothic,dotum,sans-serif;
    font-weight: 400;
    color: #111;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
}

dl, ol, ul {
    list-style: none;
}

a, input[type=file], button {
    cursor: pointer;
}

a:link, a:active, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

fieldset, img {
    border: 0;
}

.img img, .map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*, :after, :before {
    box-sizing: border-box;
}

button {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}

button, select {
    text-transform: none;
}

body{
	display: block;
 	box-sizing: border-box;
 	background-color: #fff;
 	-webkit-text-size-adjust: none;
 	-webkit-tap-highlight-color: transparent!important;
 	font-family: Noto Sans KR,Malgun Gothic,dotum,sans-serif;
    font-weight: 400;
    color: #111;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
    margin: 0;
    padding: 0;
    height: 100%;
}

*, :after, :before {
    box-sizing: border-box;
}

#wrap {
    overflow: hidden;
    width: 100%;
    min-width: 28rem;
    position: relative;
    word-break: break-all;
}

header {
    display: block;
}

.sub_header {
    height: 24rem;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.sub_header:before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.4);
    z-index: 1;
}

.in_wrap {
    width: 100%;
    max-width: 79rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.sub_header.st1:after {
    background-image: url(bg_st1.6a2f5896da8523ee.jpg);
}

.sub_header:after {
    content: "";
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, div {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

.sub_header .dth2 {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.2;
    z-index: 5;
    display: block;
    padding-top: 36px;
}

.sub_header.st1:after {
    background-image: url(bg_st1.6a2f5896da8523ee.jpg);
}

.sub_header:after {
    content: "";
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*, :after, :before {
    box-sizing: border-box;
}

.sub_header.st1:after {
    background-image: url(https://www.wishbeen.co.kr/bg_st1.6a2f5896da8523ee.jpg);
}

.sub_header:after {
    content: "";
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.position_r {
    position: relative!important;
    margin-top : 5rem;
}

#content {
    padding: 7rem 0 0;
    background: #fff;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.mo {
    display: none!important;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

img {
    vertical-align: middle;
}


fieldset, img {
    border: 0;
}

img, svg {
    vertical-align: middle;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.my_wrap {
    padding: 0 0 10rem;
}

.tab_nav {
    width: 100%;
    max-width: 790px;
    margin: 0 auto 3rem;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.tab_nav.st01 {
    width: 100%;
    margin: 0 auto 2rem;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

.tab_nav.st01 li a:hover {
    background: #242424;
    color: #fff;
}

.tab_nav.st01 li {
    display: inline-block;
    transition: all .3s;
}

.tab_nav.st01 li a {
    min-width: 10rem;
    height: 4rem;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0 1.6rem;
    display: inline-block;
    background: #fff;
    border: none;
    border-radius: 3rem;
    font-size: 1.6rem;
    line-height: 4rem;
    box-shadow: 0 1px 2px #00000026;
}

.tab_nav li a.active {
    color: #242424;
    font-weight: 400;
    border: 0.1rem solid #242424;
    border-bottom-color: transparent;
}

.tab_nav.st01 li a.active {
    background: #242424;
    color: #fff;
}

.my_wrap header {
    margin: 2rem 0;
}

.my_wrap .header.ta_right {
    margin-bottom: 3rem;
}

.ta_right {
    text-align: right!important;
}

.my_wrap header .selbox {
    width: 20rem;
}

select.selbox {
    width: 100%;
    height: 3.1rem;
    margin: 0;
    padding: 0 0 0.8rem 0.2rem;
    background: url(https://www.wishbeen.co.kr/chevron_down.f4570c3145b4e241.svg) 100% 30% no-repeat;
    background-size: 1.5rem auto;
    border: 0;
    border-bottom: 0.1rem solid #d7d7d7;
    box-sizing: border-box;
    font-size: 1.6rem;
    outline: 0;
    -webkit-appearance: none;
    appearance: none;
}

.trip_list1:not(.skeleton_wrap) .inner:hover {
    border-color: #ff5800;
}

.trip_list1 .inner {
    width: 100%;
    margin: 0;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    border: 0.1rem solid #d7d7d7;
    border-radius: 1rem;
    overflow: hidden;
}

.my_wrap .trip_list1 .inner>a {
    position: absolute;
    inset: 0;
    z-index: 5;
}

.trip_list1 .inner>a {
    display: block;
}

.trip_list1 .inner .img {
    width: 16rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.trip_list1 .inner .txt_wrap {
    min-height: 13.5rem;
    padding: 2rem 2rem 2rem 17.5rem;
    box-sizing: border-box;
    cursor: pointer;
}

.trip_list1 .geo {
    font-size: 1.5rem;
}

.trip_list1 .ico_geo, .trip_list1 .ico_cal {
    width: 1.4rem;
    height: 1.4rem;
    margin: -0.3rem 0.5rem 0 0;
    display: inline-block;
    vertical-align: middle;
    opacity: .7;
}

.trip_list1 .inner .txt_wrap>ul>li+li {
    margin: 1.2rem 0 0;
}

.trip_list1 .inner .tit {
    max-height: 6rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    line-height: 1.3;
    font-weight: 400;
    font-size: 1.8rem;
}

.trip_list1 .inner .schedule {
    max-height: 7rem;
    margin: 1.2rem 0 1.8rem!important;
    padding: 0.5rem;
    border-radius: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    box-shadow: 0.1rem 0.1rem 0.8rem #0000001a;
    border: 0.1rem solid #ddd;
}

.trip_list1 .inner .schedule span {
    padding: 0.6rem 2rem 0.6rem 0.8rem;
    display: inline-block;
    position: relative;
    border-radius: 0.5rem;
    color: #333;
    font-size: 1.3rem;
}

.trip_list1 .inner .schedule span:after {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    margin: -0.5rem 0 0;
    position: absolute;
    top: 50%;
    right: 0.3rem;
    background: url(https://www.wishbeen.co.kr/chevron_right.d4c5324d6a12e962.svg) 0 0 no-repeat;
    background-size: cover;
    opacity: .7;
}

.trip_list1 .inner .date {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    color: #333;
    font-size: 1.4rem;
}

.trip_list1 .ico_wrap li {
    margin: 0 1rem 0 0;
    display: inline-block;
    color: #999;
    font-size: 1.3rem;
}

.trip_list1 .ico_wrap span {
    width: 1.4rem;
    height: 1.4rem;
    margin: -0.1rem 0.5rem 0 0;
    display: inline-block;
    vertical-align: middle;
    opacity: .6;
}

.ico_attr {
    background: url(https://www.wishbeen.co.kr/map.cd2b69925934f97b.svg) center no-repeat;
    background-size: cover;
}

.ico_down {
    background: url(https://www.wishbeen.co.kr/download.ed23b0af8bbdf45d.svg) center no-repeat;
    background-size: cover;
}

.ico_spot {
    background: url(https://www.wishbeen.co.kr/eye.903d20db7e9b8614.svg) center no-repeat;
    background-size: cover;
}

.ico_geo {
    background: url(https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg) center no-repeat;
    background-size: cover;
}

em, address {
    font-style: normal;
}

.trip_list1 .state {
    min-width: 5rem;
    padding: 0.6rem 0.8rem;
    display: inline-block;
    position: absolute;
    top: 1.8rem;
    right: 4rem;
    background: rgba(0,0,0,.6);
    box-sizing: border-box;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 3rem;
}

.trip_list1 .state.st01 {
    background: #f2f6ff;
    color: #111;
}

.btn_set {
    padding: 1rem;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: .6;
    z-index: 15;
}

.trip_list1 .btn_set {
    top: 1rem;
}

.btn_set img {
    width: 2rem;
}

.clear_v2:after {
    content: "";
    display: block;
    clear: both;
}